<option value="all">All</option>
<option value="H">House</option>
<option value="S">Senate</option>
<option value="P">Presidential</option>
<option value="Q">PAC - qualified</option>
<option value="N">PAC - nonqualified</option>
<option value="W">PAC with non-contribution account - qualified</option>
<option value="V">PAC with non-contribution account - nonqualified</option>
<option value="O">Independent expenditure-only (Super PACs)</option>
<option value="I">Independent expenditor (person or group)</option>
<option value="U">Single-candidate independent expenditure</option>
<option value="Y">Party - qualified</option>
<option value="X">Party - nonqualified</option>
<option value="Z">National party nonfederal account</option>
<option value="E">Electioneering communication</option>
<option value="C">Communication cost</option>
<option value="D">Delegate committee</option>
