<h6 class="text-lg text-dark-gray mb-2">Search Buyers</h6>
<p class="text-xs mb-4">You can search for an ad buyer below:</p>
<div class="form-group">
  <label class="label">Name</label>
  <typeahead ul="text-xs" input="form-element" v-model="search.buyers.name" :items="PLACEHOLDERS.buyer"></typeahead>
</div>
<div v-if="store.state.explore.advanced == true">
  <div class="form-group">
    <label class="label">Limit</label>
    <p class="form-text-top">Number of results returned per search.</p>
    <input class="form-element" v-model="search.pagination.limit" type="number" min="0" max="300" />
  </div>
  <div class="form-group">
    <label class="label">Page</label>
    <p class="form-text-top">By default, only the first page of results is returned for each search. Increment this number to get additional results.</p>
    <input class="form-element" v-model="search.pagination.page" type="number" min="1" max="99999" />
  </div>
  <div class="p-3 bg-light mb-4">
    <div class="form-group" :class="search.options.context ? '' : 'mb-0'">
      <label class="label mb-1">Context</label>
      <toggle v-model="search.options.context" :labels="{checked: 'Show', unchecked: 'Hide'}" :width=62><span slot="text">Connected Ads</span></toggle>
    </div>
    <div class="form-group" v-if="search.options.context">
      <label class="label">Min Date for Ads</label>
      <datepicker v-model="search.dates.min" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates" :typeable="true" :required="true"></datepicker>
    </div>
    <div class="form-group mb-0" v-if="search.options.context">
      <label class="label">Max Date for Ads</label>
      <datepicker v-model="search.dates.max" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates" :typeable="true" :required="true"></datepicker>
    </div>
  </div>
</div>
