<h6 class="text-lg text-dark-gray mb-2">Search Candidates</h6>
<p class="text-xs mb-4">You can search candidates by name<span v-if="store.state.explore.advanced == true">, party affiliation, office, state, or district</span>:</p>
<div class="form-group">
  <label class="label">Name</label>
  <typeahead ul="text-xs" input="form-element" v-model="search.candidates.cand_name" :items="PLACEHOLDERS.candidate"></typeahead>
</div>
<div v-if="store.state.explore.advanced == true">
  <div class="form-group">
    <label class="label">Party Affiliation</label>
    <select class="form-element" v-model="search.candidates.cand_pty_affiliation">
      <option value="all">All</option>
      <option :value="x.value" v-for="x in OPTIONS_PTY_AFFILIATION">{{x.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="label">Office</label>
    <select class="form-element" v-model="search.candidates.cand_office">
      <option value="all">All</option>
      <option :value="x.value" v-for="x in OPTIONS_CAND_OFFICE">{{x.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="label">State</label>
    <select class="form-element" v-model="search.candidates.cand_office_st" :disabled="search.candidates.office == 'P'">
      <option value="all">All</option>
      <option :value="x.value" v-for="x in STATES">{{x.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="label">District</label>
    <select class="form-element" v-model="search.candidates.cand_office_district" :disabled="search.candidates.office == 'P' || search.candidates.office == 'S'">
      <option value="all">All</option>
      <option :value="_.padStart(x, 2, '0')" v-for="x in _.range(54)">{{_.padStart(x, 2, '0')}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="label">Status</label>
    <select class="form-element" v-model="search.candidates.cand_ici">
      <option value="all">All</option>
      <option :value="x.value" v-for="x in OPTIONS_CAND_ICI">{{x.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="label">Election Year</label>
    <input class="form-element" v-model="search.candidates.cand_election_yr" type="number" min="1900" :max="2100" />
  </div>
  <div class="form-group">
    <label class="label">Limit</label>
    <p class="form-text-top">Number of results returned per search.</p>
    <input class="form-element" v-model="search.pagination.limit" type="number" min="0" max="300" />
  </div>
  <div class="form-group">
    <label class="label">Page</label>
    <p class="form-text-top">By default, only the first page of results is returned for each search. Increment this number to get additional results.</p>
    <input class="form-element" v-model="search.pagination.page" type="number" min="1" max="99999" />
  </div>
  <div class="p-3 bg-light mb-4">
    <div class="form-group mb-0">
      <label class="label">Context</label>
      <toggle v-model="search.options.context" :labels="{checked: 'Show', unchecked: 'Hide'}" :width=62><span slot="text">Connected Committees</span></toggle>
    </div>
  </div>
</div>
