<h6 class="text-lg text-dark-gray mb-2">Search News Sources</h6>
<p class="text-xs mb-4">You can search news sources by domain<span v-if="store.state.explore.advanced == true">, name, political bias, or content flag and filter the connected links by date</span>:</p>
<div class="form-group">
  <label class="label">Domain:</label>
  <typeahead ul="text-xs" input="form-element" v-model="search.sources.domain" :items="PLACEHOLDERS.source"></typeahead>
</div>
<div v-if="store.state.explore.advanced == true">
  <div class="form-group">
    <label class="label">Political Bias:</label>
    <p class="form-text-top">Only include sources matching these bias ratings.</p>
    <toggle class="mb-1" v-model="search.sources.bias_score.liberal"><span slot="text">Liberal</span></toggle>
    <toggle class="mb-1" v-model="search.sources.bias_score.left"><span slot="text">Left Leaning</span></toggle>
    <toggle class="mb-1" v-model="search.sources.bias_score.moderate"><span slot="text">Moderate</span></toggle>
    <toggle class="mb-1" v-model="search.sources.bias_score.right"><span slot="text">Right Leaning</span></toggle>
    <toggle class="mb-1" v-model="search.sources.bias_score.conservative"><span slot="text">Conservative</span></toggle>
  </div>
  <div class="form-group">
    <label class="label">Content Flag:</label>
    <p class="form-text-top">Only include sources where the flag is true.</p>
    <toggle class="mb-1" v-model="search.sources.factually_questionable_flag" :labels="{checked: 'Yes', unchecked: 'No'}" :width=55><span slot="text">Factually Questionable</span></toggle>
    <toggle class="mb-1" v-model="search.sources.conspiracy_flag" :labels="{checked: 'Yes', unchecked: 'No'}" :width=55><span slot="text">Conspiracy</span></toggle>
    <toggle class="mb-1" v-model="search.sources.hate_group_flag" :labels="{checked: 'Yes', unchecked: 'No'}" :width=55><span slot="text">Hate Group</span></toggle>
    <toggle class="mb-1" v-model="search.sources.propaganda_flag" :labels="{checked: 'Yes', unchecked: 'No'}" :width=55><span slot="text">Propaganda</span></toggle>
    <toggle class="mb-1" v-model="search.sources.satire_flag" :labels="{checked: 'Yes', unchecked: 'No'}" :width=55><span slot="text">Satire</span></toggle>
  </div>
  <div class="form-group">
    <label class="label">Limit:</label>
    <p class="form-text-top">Number of results returned per search.</p>
    <input class="form-element" v-model="search.pagination.limit" type="number" min="0" max="300" />
  </div>
  <div class="form-group">
    <label class="label">Page:</label>
    <p class="form-text-top">By default, only the first page of results is returned for each search. Increment this number to get additional results.</p>
    <input class="form-element" v-model="search.pagination.page" type="number" min="1" max="99999" />
  </div>
  <div class="p-3 bg-light mb-4">
    <div class="form-group" :class="search.options.context ? '' : 'mb-0'">
      <label class="label mb-1">Context:</label>
      <toggle v-model="search.options.context" :labels="{checked: 'Show', unchecked: 'Hide'}" :width=62><span slot="text">Connected Links</span></toggle>
    </div>
    <div class="form-group" v-if="search.options.context">
      <label class="label">Min Citation Date for Links:</label>
      <datepicker v-model="search.dates.min" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates"></datepicker>
    </div>
    <div class="form-group mb-0" v-if="search.options.context">
      <label class="label">Max Citation Date for Links:</label>
      <datepicker v-model="search.dates.max" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates"></datepicker>
    </div>
  </div>
</div>
