{% extends "explore/relationships/app.html.j2" %}
{% block title %}Traverse | Explore Relationships | {% endblock %}

{% block app %}
<div id="slab" class="bg-light p-5" :class="_.isEmpty(store.state.explore.branches) ? 'flex flex-col justify-center' : ''" v-cloak>
  <div class="bg-white border border-secondary p-7 max-w-lg m-auto" v-if="_.isEmpty(store.state.explore.branches)">
    <div class="mb-8">
      <a href="https://codefordemocracy.org" target="_blank"><img src="//assets.codefordemocracy.org/img/logo-tiny.png" id="logo" /></a>
    </div>
    <h1 id="page-title" class="text-2xl text-dark-gray mb-2">Traverse<sup>(BETA)</sup></h1>
    <p class="font-light text-sm leading-relaxed mb-5">Explore relationships between political entities by browsing tabular data. Choose a starting point to begin:</p>
    <form class="form-sm" @submit.prevent="search()">
      <div class="grid grid-cols-12 gap-1">
        <select v-model="entity" class="col-span-12 md:col-span-3 form-element" :disabled="!_.isEmpty(store.state.explore.branches)">
          <option v-for="entity in store.state.explore.search" :value="entity">{{_.startCase(entity)}}</option>
        </select>
        <typeahead ul="text-xs" class="col-span-9 md:col-span-7" input="form-element w-full" v-model="term" :items="PLACEHOLDERS[entity]" :disabled="!_.isEmpty(store.state.explore.branches)"></typeahead>
        <input type="submit" class="col-span-3 md:col-span-2 btn btn-sm btn-gray" value="Search" :disabled="_.isEmpty(term) || !_.isEmpty(store.state.explore.branches)" />
      </div>
      <p class="mt-5 text-xs text-muted">Tip: You can combine multiple search terms by entering <code class="text-pink font-extralight">term1 OR term2</code>.<span v-if="entity=='donor'"> You can also filter on <code class="text-pink">EMPLOYER:term</code> or <code class="text-pink">OCCUPATION:term</code>.</span></p>
    </form>
  </div>
  <div v-else>
    <branch :id="branch.id" :settings="branch.settings" :branches="branch.branches" @destroy="clear" v-for="branch in store.state.explore.branches"></branch>
  </div>
  {% if mode != "popup" %}
    <p class="text-xs pt-9 sm:text-center">[[copyright()]]</p>
  {% endif %}
  <div id="router"></div>
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/blocks/matches.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/blocks/actions.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/branch.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/overview.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/associations-results-candidate-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/associations-results-committee-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/associations-results.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/associations-details.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/intersection-settings.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/intersection-results-candidate-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/intersection-results-committee-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/intersection-results.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/intersection-details.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/structures/leaf/contribution.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/traverse/main.js') ]]"></script>

{% endblock %}
