<tabs @placeholder="store.commit('waitlist/modal', true)">
  <tab name="Terms & IDs" :selected="true" class="p-5">
    <div class="flex justify-center items-center text-xs text-dark px-5 py-10">
      <span v-if="_.includes(store.state.workflow.valid, store.state.workflow.tab-1)">This feature is coming soon. Please continue to the next step.</span>
      <span v-else>This feature is coming soon.</span>
    </div>
  </tab>
  <tab name="Categorical Filters" :placeholder="true" class="p-5">

  </tab>
  <tab name="Numerical Filters" :placeholder="true" class="p-5">

  </tab>
  <tab name="Date Filters" :placeholder="true" class="p-5">

  </tab>
</tabs>
