<tabs :overflow="true">
  <tab name="Terms & IDs" :selected="true" class="p-5">
    {% include "/workflow/list/tabs/include/terms.html.j2" %}
  </tab>
  <tab name="Categorical Filters" class="p-5">
    {% include "/workflow/list/tabs/include/categorical.html.j2" %}
  </tab>
</tabs>
