<div class="bg-white border border-secondary p-5">
  <div class="flex justify-center items-center text-xs text-dark px-5 py-10">
    <span v-if="_.includes(store.state.workflow.valid, store.state.workflow.tab-1)">This feature is coming soon. Please continue to the next step.</span>
    <span v-else>The entities included in your list will show up here.</span>
  </div>
</div>
