<div class="border bg-white p-2">
  <div class="form-group">
    <label class="mb-0 form-control-label">Name:</label>
    <p class="mb-bump">Enter a name for the list.</p>
    <input class="form-control form-control-xs" v-model="list.name" placeholder="Something short"></input>
  </div>
  <div class="form-group">
    <label class="mb-0 form-control-label">Description:</label>
    <p class="mb-bump">Enter a description for the list.</p>
    <textarea class="form-control form-control-xs" v-model="list.description" placeholder="Sourced from https://example.com/top-100/"></textarea>
  </div>
</div>
