<div class="bg-white border border-secondary p-5 form-full form-sm form-nosubmit">
  <div class="form-group">
    <label class="label">Name:</label>
    <p class="form-text-top">Enter a name for the list.</p>
    <input class="form-element" type="text" v-model="list.name" placeholder="Something short"></input>
  </div>
  <div class="form-group">
    <label class="label">Description:</label>
    <p class="form-text-top">Enter a description for the list.</p>
    <textarea class="form-element" v-model="list.description" placeholder="Sourced from https://example.com/top-100/"></textarea>
  </div>
</div>
