<div class="alert alert-warning mb-5" v-if="numclauses > 1000"><strong>WARNING:</strong> You are attempting to create a list defined by more than 1000 terms or IDs. Lists of this size may cause unexpected errors.</div>
<div class="bg-white border border-secondary p-5 form-full form-sm">
  <div class="form-group">
    <label class="label">Visibility<span class="text-info">*</span></label>
    <p class="form-text-top">Public lists are visible to other users. Hidden lists are only visible to you. <span v-if="!store.getters['auth/isVerified']">You must <a href="javascript:void(0)" @click="store.commit('auth/verify', true)">verify your account</a> before you can create public lists.</span></p>
    <select class="form-element" v-model="list.visibility">
      <option value="public" v-if="store.getters['auth/isVerified']">Public</option>
      <option value="hidden">Hidden</option>
    </select>
  </div>
  <div class="form-group">
    <label class="label">Name<span class="text-info">*</span></label>
    <p class="form-text-top">Enter a name for the list.</p>
    <input class="form-element" type="text" v-model="list.name" placeholder="Top Entities"></input>
  </div>
  <div class="form-group">
    <label class="label">Description<span class="text-info">*</span></label>
    <p class="form-text-top">Enter a description for the list.</p>
    <textarea class="form-element" v-model="list.description" placeholder="Sourced from https://example.com/top-100/" rows="3"></textarea>
  </div>
  <p class="text-xs text-muted"><span class="text-info">*</span>This field is required.</p>
</div>
