<div class="form-full form-sm form-nosubmit" v-if="_.includes(['candidate', 'donor', 'committee'], list.subtype)">
  <template v-if="list.subtype == 'candidate'">
    <div class="form-group">
      <label class="label">Party Affiliation</label>
      <select class="form-element" v-model="filters.exclude.candidate.cand_pty_affiliation">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_PTY_AFFILIATION">{{x.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">Office</label>
      <select class="form-element" v-model="filters.exclude.candidate.cand_office">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_CAND_OFFICE">{{x.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">State</label>
      <select class="form-element" v-model="filters.exclude.candidate.cand_office_st" :disabled="filters.exclude.candidate.office == 'P'">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in STATES">{{x.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">District</label>
      <select class="form-element" v-model="filters.exclude.candidate.cand_office_district" :disabled="filters.exclude.candidate.office == 'P' || filters.exclude.candidate.office == 'S'">
        <option :value="null">All</option>
        <option :value="_.padStart(x, 2, '0')" v-for="x in _.range(54)">{{_.padStart(x, 2, '0')}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">Status</label>
      <select class="form-element" v-model="filters.exclude.candidate.cand_ici">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_CAND_ICI">{{x.label}}</option>
      </select>
    </div>
  </template>
  <template v-if="list.subtype == 'donor'">
    <div class="form-group">
      <label class="label">State</label>
      <select class="form-element" v-model="filters.exclude.donor.state">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in STATES">{{x.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">Entity Type</label>
      <select class="form-element" v-model="filters.exclude.donor.entity_tp">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_ENTITY_TP">{{x.label}}</option>
      </select>
    </div>
  </template>
  <template v-if="list.subtype == 'committee'">
    <div class="form-group">
      <label class="label">Party Affiliation</label>
      <select class="form-element" v-model="filters.exclude.committee.cmte_pty_affiliation">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_PTY_AFFILIATION">{{x.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">Committee Designation</label>
      <select class="form-element" v-model="filters.exclude.committee.cmte_dsgn">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_CMTE_DSGN">{{x.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">Committee Type</label>
      <select class="form-element" v-model="filters.exclude.committee.cmte_tp">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_CMTE_TP">{{x.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">Interest Group Category</label>
      <select class="form-element" v-model="filters.exclude.committee.org_tp">
        <option :value="null">All</option>
        <option :value="x.value" v-for="x in OPTIONS_ORG_TP">{{x.label}}</option>
      </select>
    </div>
  </template>
</div>
<p class="text-xs" v-else>There are no categorical filters available for {{list.subtype}} lists.</p>
