<div class="form-full form-sm form-nosubmit" v-if="_.includes(['candidate', 'donor'], list.subtype)">
  <template v-if="list.subtype == 'candidate'">
    <div class="form-group">
      <label class="label">Election Year</label>
      <input class="form-element" v-model="filters.exclude.candidate.cand_election_yr" type="number" min="1900" :max="2100" />
    </div>
  </template>
  <template v-if="list.subtype == 'donor'">
    <div class="form-group">
      <label class="label">Zip Code</label>
      <input class="form-element" v-model="filters.exclude.donor.zip_code" type="number" min="0" max="99999" />
    </div>
  </template>
</div>
<p class="text-xs" v-else>There are no numerical filters available for {{list.subtype}} lists.</p>
