<div class="form-full form-sm" v-if="_.includes(['candidate', 'donor'], list.subtype)">
  <template v-if="list.subtype == 'candidate'">
    <div class="form-group">
      <label class="label">Election Year<span class="text-info">**</span></label>
      <template v-for="(item, index) in filters.exclude.candidate.cand_election_yr">
        <input class="form-element" v-model="filters.exclude.candidate.cand_election_yr[index]" type="number" min="1900" max="2100" :class="index > 0 ? 'mt-1' : ''"/>
      </template>
      <div class="flex justify-end text-xs mt-2">
        <button class="text-primary" @click="filters.exclude.candidate.cand_election_yr.push('')">Add Election Year</button>
        <button class="text-red ml-4" @click="filters.exclude.candidate.cand_election_yr = _.compact(filters.exclude.candidate.cand_election_yr)">Remove Empty Values</button>
      </div>
    </div>
  </template>
  <template v-if="list.subtype == 'donor'">
    <div class="form-group">
      <label class="label">Zip Code<span class="text-info">**</span></label>
      <template v-for="(item, index) in filters.exclude.donor.zip_code">
        <input class="form-element" v-model="filters.exclude.donor.zip_code[index]" type="number" min="1900" max="2100" :class="index > 0 ? 'mt-1' : ''"/>
      </template>
      <div class="flex justify-end text-xs mt-2">
        <button class="text-primary" @click="filters.exclude.donor.zip_code.push('')">Add Election Year</button>
        <button class="text-red ml-4" @click="filters.exclude.donor.zip_code = _.compact(filters.exclude.donor.zip_code)">Remove Empty Values</button>
      </div>
    </div>
  </template>
  <p class="text-xs text-muted"><span class="text-info">**</span>At least one of these fields must be filled out across all tabs.</p>
</div>
<p class="text-xs" v-else>There are no numerical filters available for {{list.subtype}} lists.</p>
