<div class="form-full form-sm form-nosubmit grid grid-cols-1 sm:grid-cols-2 gap-5">
  <div>
    <label class="label">Min Date:</label>
    <datepicker v-model="filters.dates.min" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="filters.disabledDates"></datepicker>
  </div>
  <div class="h-64">
    <label class="label">Max Date:</label>
    <datepicker v-model="filters.dates.max" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="filters.disabledDates"></datepicker>
  </div>
</div>
