<h5 class="text-2xl text-dark-gray mb-2">Save Alert</h5>
<p class="font-light text-sm leading-relaxed">Add metadata to your alert and save it in order to activate notifications.</p>
<template v-if="_.includes(store.state.workflow.valid, store.state.workflow.tab-1)">
  <p class="text-xs mt-3">We're still working on our alerts infrastructure, so you will not quite begin receiving alerts just yet. The alerts you create today will be saved for easy activation later.</p>
</template>
