<h5 class="text-2xl text-dark-gray mb-2">Save Alert</h5>
<p class="font-light text-sm leading-relaxed">Add metadata to your alert and save it in order to activate notifications.</p>
<template v-if="_.includes(store.state.workflow.valid, store.state.workflow.tab-1)">
  <p class="text-xs mt-3">We're still building our alerts feature! You can create and activate alerts now, but you will not receive notification emails until later.</p>
</template>
