<div class="bg-white border border-secondary p-5">
  <div class="flex justify-center items-center text-xs text-dark px-5 py-10">
    <p>This feature is coming soon. <a href="javascript:void(0);" @click="store.commit('waitlist/modal', true)" class="text-primary">Join the waitlist.</a></p>
  </div>
</div>
