<h5 class="text-2xl text-dark-gray mb-2">Transform Data</h5>
<p class="font-light text-sm leading-relaxed">Apply aggregations to the query results to prepare them for visualization.</p>
<template v-if="_.includes(store.state.workflow.valid, store.state.workflow.tab-1)">
  <p class="text-xs mt-3">We use the same <mark class="px-1">Group By</mark> nomenclature as SQL. You might also find similarities between our aggregations and pivot tables.</p>
</template>
