<tabs :overflow="true">
  <tab name="Date Filters" :selected="true" class="p-5">
    {% include "/workflow/query/tabs/filters/date.html.j2" %}
  </tab>
  <tab name="Numerical Filters" class="p-5">
    {% include "/workflow/query/tabs/filters/numerical.html.j2" %}
  </tab>
</tabs>
