<tabs class="bg-white border-bottom">
  <tab name="PublicLists" :selected="true" class="p-2">
    <div class="d-flex justify-content-center align-items-center p-10">This feature is coming soon.</div>
  </tab>
  <tab name="Your Lists" :selected="false" :placeholder="true" class="p-2">

  </tab>
</tabs>
