<tabs class="bg-white border-bottom">
  <tab name="Campaign Finance" :selected="true" class="p-2">
    {% include "/workflow/query/tabs/recipes/partials/toggle.html.j2" %}
    <button class="btn btn-xs btn-block text-left" v-for="r in recipes('campfin')" :class="recipe.template == r.template ? 'btn-primary' : 'btn-secondary'" @click="recipe.template = r.template">
      <configuration :template="r.template" :lists="r.lists" :preloaded="preloaded" :prefill="showExamples"></configuration>
    </button>
  </tab>
  <tab name="Lobbying Disclosures" :selected="false" class="p-2">
    {% include "/workflow/query/tabs/recipes/partials/toggle.html.j2" %}
    <button class="btn btn-xs btn-block text-left" v-for="r in recipes('lobbying')" :class="recipe.template == r.template ? 'btn-primary' : 'btn-secondary'" @click="recipe.template = r.template">
      <configuration :template="r.template" :lists="r.lists" :preloaded="preloaded" :prefill="showExamples"></configuration>
    </button>
  </tab>
  <tab name="Tax Documents" :selected="false" class="p-2">
    {% include "/workflow/query/tabs/recipes/partials/toggle.html.j2" %}
    <button class="btn btn-xs btn-block text-left" v-for="r in recipes('tax')" :class="recipe.template == r.template ? 'btn-primary' : 'btn-secondary'" @click="recipe.template = r.template">
      <configuration :template="r.template" :lists="r.lists" :preloaded="preloaded" :prefill="showExamples"></configuration>
    </button>
  </tab>
  <tab name="Political Ads & Narratives" :selected="false" class="p-2">
    {% include "/workflow/query/tabs/recipes/partials/toggle.html.j2" %}
    <button class="btn btn-xs btn-block text-left" v-for="r in recipes('narrative')" :class="recipe.template == r.template ? 'btn-primary' : 'btn-secondary'" @click="recipe.template = r.template">
      <configuration :template="r.template" :lists="r.lists" :preloaded="preloaded" :prefill="showExamples"></configuration>
    </button>
  </tab>
</tabs>
