{% extends "index.html.j2" %}
{% block html %}

<!-- navigation -->
<nav class="navbar flex items-center" id="topbar">
  <div class="text-white px-5">Explore Relationships</div>
  <a class="leading-none p-5 text-sm text-gray-40 hover:text-gray-30" href="[[ url_for('route_explore_relationships_graph', mode=mode) ]]">Graph</a>
  <a class="leading-none p-5 text-sm text-gray-40 hover:text-gray-30" href="[[ url_for('route_explore_relationships_traverse', mode=mode) ]]">Traverse</a>
</nav>
<!-- / navigation -->

{% block app %}{% endblock %}

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/modules/explore/relationships/app.js') ]]"></script>

{% endblock %}
