<div :class="{'p-1': !store.state.embed}">
  <div class="placeholder d-flex justify-content-center align-items-center" v-if="_.isEmpty(store.state.output.map)">Your map will show up here.</div>
  <plot :settings="store.state.output.map" id="map" v-else></plot>
</div>
