@import url("https://fonts.googleapis.com/css?family=Rubik:500");

[v-cloak] {
  display: none !important;
}

html, body {
  width: 100%;
  height: 100%;
}

/* --------------- Old Layouts --------------- */

#sidebar-icons {
  box-sizing: border-box;
  position: absolute;
  width: 22rem;
  left: 0rem;
  top: 0;
  bottom: 0;
  overflow: auto;
  border-right: 1px solid #e5e5e5;
}

#main-sidebar-icons {
  position: absolute;
  left: 22rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#main-sidebar-icons.embed {
  left: 0rem !important;
  top: -3rem !important;
  z-index: 1000;
}

@media (max-width: 991.98px) {
  #sidebar-icons, #main-sidebar-icons {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
  }
  #sidebar-icons {
    border-right: 0;
    border-bottom: 1px solid #e5e5e5;
  }
}

/* Icons */

#navicons {
  position: absolute;
  width: 3rem;
  left: 0rem;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#settings {
  position: absolute;
  left: 3rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#nav-query {
  padding-top: 0.25rem;
}

#nav-table {
  padding-top: 0.30rem;
}

#nav-network {
  padding-top: 0.15rem;
}

#nav-chart {
  padding-top: 0.20rem;
}

#nav-map{
  padding-top: 0.10rem;
}

.navicon-tab {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  color: #3b3b3b;
  width: 3rem;
  height: 3rem;
}

.navicon-tab span {
  color: #3b3b3b;
}

.navicon-tab span:hover {
  color: #666666;
}

.navicon-tab.active {
  background-color: #FFFFFF !important;
  border-right: 1px solid #ffffff;
}

.navicon-tab.active span, .navicon-tab.active span:hover {
  color: #3b3b3b !important;
}

.navicon-spacer {
  border-right: 1px solid #e5e5e5;
}

@media (max-width: 991.98px) {
  #navicons, #settings {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
  }
  #navicons {
    height: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navicon-spacer {
    border-bottom: 1px solid #e5e5e5;
    border-right: 0;
  }
  .navicon-tab.active {
    border-bottom: 0;
    border-right: 1px solid #e5e5e5;
  }
}

/* Intro */

#intro {
  max-width: 500px;
  margin: auto;
  border-radius: 0.25rem;
}

/* --------------- App Layouts --------------- */

/* Workflow Layout */

#navbar {
  height: 3.55rem;
}

#app {
  position: absolute;
  top: 3.55rem;
  left: 0;
  right: 0;
  bottom: 0;
}

#main {
  position: relative;
  min-height: 100%;
}

#sidebar {
  box-sizing: border-box;
  position: absolute;
  width: 22rem;
  left: 0rem;
  top: 0;
  bottom: 0;
  overflow: auto;
  border-right: 1px solid #e5e5e5;
}

#content {
  position: absolute;
  left: 22rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#content.embed {
  left: 0rem !important;
  top: -3.55rem !important;
  z-index: 1000;
}

@media (max-width: 991.98px) {
  #sidebar, #content {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
  }
  #sidebar {
    border-right: 0;
    border-bottom: 1px solid #e5e5e5;
  }
}

/* Explore Layout */

#topbar {
  height: 3rem;
}

#slab {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

#slab #sidebar {
  box-sizing: border-box;
  position: absolute;
  width: 18rem;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 10;
}

#slab #content {
  position: absolute;
  left: 18rem;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

#slab #box {
  box-sizing: border-box;
  position: absolute;
  width: 15rem;
  right: 1.25rem;
  top: 1.25rem;
}

@media (max-width: 991.98px) {
  #slab #sidebar {
    width: 15rem;
  }
  #slab #content {
    left: 15rem;
  }
  #slab #box {
    width: 12rem;
  }
}

@media (max-width: 767.98px) {
  #slab #sidebar, #slab #content, #slab #box {
    display: inline-block;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
  #slab #sidebar, #slab #content {
    border: 1px solid #e5e5e5;
  }
  #slab #content {
    height: 50vh;
  }
  #slab #box {
    margin-bottom: 10px;
    margin-top: 6px
  }
}

/* Navbar */

.navbar {
  padding: 0 1.3rem;
  z-index: 100;
}

.navbar-dark {
  background-color: #3b3b3b;
}

.navbar-brand {
  height: inherit;
  margin-left: 0.15rem;
  margin-top: 0.65rem;
  margin-bottom: 0.35rem;
  line-height: 0.75em;
}

.navbar-brand sup {
  font-size: 45%;
  top: -0.9em;
}

.navbar-brand small {
  margin-left: 0.03rem;
  font-size: 55%;
}

.nav-link-chonk {
  line-height: 1.1em;
  margin-top: -0.15rem;
}

.nav-link-circle {
  background-color: #555;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.325rem 0.525rem;
  border-radius: 50%;
  margin-right: 0.7rem;
  margin-top: 0.25rem;
  font-size: 80%;
}

.nav-link-chonk small {
  font-size: 65%;
}

.navbar-dark .navbar-nav .nav-link, .nav-link-circle {
  color: #ccc;
}

.navbar-dark .navbar-nav .nav-link:hover, a.nav-link-chonk:hover, a.nav-link-chonk:hover .nav-link-circle {
  color: #fff;
}

a.nav-link-chonk:hover small {
  color: #bbb;
}

a.nav-link-chonk:hover .nav-link-circle {
  background-color: #666;
}

a.nav-link-chonk.active small {
  color: #ccc;
}

a.nav-link-chonk.active .nav-link-circle {
  color: #333;
  background-color: #ccc;
}

.navbar .navbar-divider {
  border-top: 1px solid #555;
  border-right: 1px solid #555;
}

@media (max-width: 1199.98px) {
  .navbar-nav .nav-item {
      padding: 0.8rem 0;
  }
}

#topbar .navbar-brand {
  height: inherit;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0;
  line-height: inherit;
}

/* Sidebar */

#sidebar-tabs {
  position: absolute;
  width: 3rem;
  left: 0rem;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-tab {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  color: #3b3b3b;
  width: 3rem;
  height: 3rem;
}

.sidebar-tab span {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.27rem 0.58rem;
  background-color: #5b5b5b;
  color: #fff;
  border-radius: 0.2rem;
  font-size: 90%;
}

.sidebar-tab span:hover {
  background-color: #777;
}

.sidebar-tab.active {
  background-color: #fff;
  border-right: 1px solid #fff;
}

.sidebar-tab.active span, .sidebar-tab.active span:hover {
  background-color: #d5d5d5;
  color: #333;
}

.sidebar-spacer {
  border-right: 1px solid #e5e5e5;
}

#sidebar-settings {
  position: absolute;
  left: 3rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

@media (max-width: 991.98px) {
  #sidebar-tabs, #sidebar-settings {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
  }
  #sidebar-tabs {
    height: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .sidebar-spacer {
    border-bottom: 1px solid #e5e5e5;
    border-right: 0;
  }
  .sidebar-tab.active {
    border-bottom: 0;
    border-right: 1px solid #e5e5e5;
  }
}

/* Tabbed Content */

.tab {
  cursor: pointer;
  padding: 0.45rem 1.25rem;
}

.tab-active {
  border-top: 2px solid #5b5b5b !important;
  border-bottom: none !important;
  background-color: #fff !important;
}

.tab-content {
  max-height: 70vh;
  overflow-wrap: break-word;
  overflow: auto;
}

@media (max-width: 767.98px) {
  .tab-content {
    max-height: none;
  }
}

/* Overlays */

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  z-index: 20;
}

.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(0,0,0,0.15)),color-stop(0.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(0,0,0,0.15)),color-stop(.75,rgba(0,0,0,0.15)),color-stop(.75,transparent),to(transparent));
  background-image:-webkit-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:-moz-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:-ms-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:-o-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  -webkit-background-size:6px 6px;-moz-background-size:6px 6px;-ms-background-size:6px 6px;-o-background-size:6px 6px;
  background-size:6px 6px;
  z-index: 20;
  cursor: not-allowed;
}

/* Title */

#logo {
  width: 82px;
  heigh: 35px;
}

#page-title {
  font-size: 2.1em;
  font-weight: normal !important;
  color: #151515;
}

#page-title sup {
  font-size: 45% !important;
  top: -0.9em !important;
}

/* --------------- Elements --------------- */

/* Typography */

body {
  font-size: 0.75rem;
  color: #555;
}

p {
  line-height: 1.5em;
  color: #555;
}

strong, b {
  font-weight: 500;
  color: inherit;
}

textarea {
  font-family: "Roboto Mono", monospace;
}

.section-heading {
  text-transform: uppercase;
  font-weight: bold;
}

.lead {
  font-size: 0.9rem;
}

.small {
  font-size: 90%;
}

/* Hover */

.pointer {
  cursor: pointer;
}

/* Background */

.bg-xlight {
  background-color: #fbfbfb !important;
}

.bg-gray-medium {
  background-color: #666 !important;
}

.text-gray-light {
  color: #bbb !important;
}

/* Forms */

.form-help {
  margin-top: 0.3rem;
  color: #adadad;
  font-size: 0.9em;
}

.form-xs-text {
  font-size: 0.75rem;
}

.form-control-xs {
  height: calc(1.65rem + 2px);
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.1rem;
}

.select {
  opacity: 1 !important;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #aaa 50%),
    linear-gradient(135deg, #aaa 50%, transparent 30%);
  background-repeat: no-repeat;
}

.form-control-xs.select {
  padding: 0.3rem 0.5rem;
  background-position:
    calc(100% - 13px) calc(1em),
    calc(100% - 8px) calc(1em);
  background-size:
    5px 5px,
    5px 5px;
}

/* Badges */

.badge-xs {
  font-size: 0.6rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem;
}

/* Alerts */

.alert {
  border-radius: 0.2rem;
  padding: 0.85rem;
}

/* Buttons */

.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5em;
  border-radius: 0.1rem;
}

.btn-icon {
  padding: 0 !important;
}

.btn-icon i {
  font-size: 120%;
  line-height: 1.5rem;
  margin: 0 0.35rem;
}

/* Icons */

.bigicon {
  font-size: 1.5rem;
}

@media (max-width: 767.98px) {
  .bigicon {
    font-size: 1rem;
  }
}

/* Dropdowns */

.dropdown-item:not(:disabled):not(.disabled) {
  color: #555 !important;
}

.dropdown-item:hover:not(:disabled):not(.disabled) {
  color: #151515 !important;
}

.dropdown-item, a {
  text-decoration: none !important;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #999;
  pointer-events: auto;
  cursor: not-allowed;
}

.dropdown-menu-xs {
  border-radius: 0.1rem;
}

.dropdown-menu-xs .dropdown-item {
  padding: 0.35rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5em;
}

.dropdown-menu-xs .dropdown-item:first-child {
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}

.dropdown-menu-xs .dropdown-item:last-child {
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

/* Blink */

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

/* Spacing */

.mx-tiny {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}

.mx-ntiny {
  margin-left: -0.15rem;
  margin-right: -0.15rem;
}

.mt-tiny {
  margin-top: 0.15rem;
}

.mr-tiny {
  margin-right: 0.15rem;
}

.mb-tiny {
  margin-bottom: 0.15rem;
}

.ml-tiny {
  margin-left: 0.15rem;
}

.ml-xs {
  margin-left: 0.45rem;
}

.mb-bump {
  margin-bottom: 0.6rem;
}

/* Preview Boxes */

.preview {
  max-height: 451px;
  overflow: auto;
}

.preview pre {
  font-size: inherit;
}

.preview small.badge {
  position: absolute;
  top: 0.3rem;
  right: 1.3rem;
}

/* --------------- Workflows --------------- */

/* Viz */

.placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 991.98px) {
  .placeholder {
    height: 50vh;
    position: relative;
  }
}

.embed .placeholder {
  height: 100vh;
}

#sharebar .sharebar-text {
  margin-left: 0.2rem;
  overflow-x: scroll;
  white-space: pre;
}

#sharebar button {
  white-space: pre;
  width: 9rem;
}

#hoverbar {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  z-index: 10;
}

.embed #hoverbar {
  top: 0.625rem;
  right: 0.625rem;
}

/* Data Tables */

.datatable {
  overflow-x: scroll;
}

.datatable table {
  width: 100%;
}

.datatable th, .datatable td {
  padding: 0.3125rem;
}

.datatable th {
  font-weight: 500;
}

.datatable td {
  color: #555;
}

/* --------------- Popups --------------- */

/* ---------- Explore Documents ---------- */

/* Results */

.doclink {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 !important;
  z-index: 10;
}

/* ---------- Explore Relationships ---------- */

/* ----- Graph ----- */

/* Layout */

#cy {
  width: 100%;
  height: 100%;
}

#emptystate {
  position: absolute;
  height: 2.3rem;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Box */

#box .tab {
  cursor: pointer;
}

#box .tab-active {
  border-top: 2px solid #555 !important;
  border-bottom: none !important;
  background-color: #fff !important;
}

#box .tab-content {
  max-height: 70vh;
  overflow-wrap: break-word;
  overflow: auto;
}

@media (max-width: 767.98px) {
  #box .tab-content {
    max-height: none;
  }
}

#box .word-break {
  word-break: break-all;
}

#box li a, #box strong a {
  color: inherit;
  text-decoration: underline;
}

#box li a:hover, #box strong a:hover {
  text-decoration: none;
}

/* Key */

.keyblob {
  padding: 0.3125rem;
  border-radius: 1rem;
}

/* Context Menu */

.context-menu-item {
  padding: 0.3125rem 0.625rem;
}

/* ----- Traverse ----- */

/* Leaf */

.cap {
  text-transform: uppercase;
  background-color: #e5e5e5;
  color: #333;
  font-size: 0.9rem;
  padding: 0.4rem 0.3rem 0.3rem 0.8rem;
}

.cap strong {
  color: #333;
}

.cap .btn {
  padding: 0rem 0.5rem 0.2rem 0.5rem;
  font-weight: 500;
}

.cap .btn:hover {
  color: #333;
}

.leaf {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.leaf p {
  line-height: 1.35em;
  color: #555;
}

.leaf h2 {
  font-size: 2rem;
}

.leaf h3 {
  font-size: 1.3rem;
}

.leaf h4 {
  font-size: 1.1rem;
}

/* Bar */

.bar .line {
  width: 1px;
  height: 1rem;
  background-color: #e5e5e5;
}

.bar .bubbles {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: 0 auto;
}

.bar .bubble {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-top: 0.625rem;
  margin-right: 0.625rem;
  vertical-align: middle;
  padding: 0;
}

/* Matches */

.matches {
  overflow-x: scroll;
}

.matches.hasdropdowns {
  overflow-x: hidden;
  padding-bottom: 10rem;
  margin-bottom: -10rem;
}

.matches table {
  width: 100%;
  font-size: 0.75rem;
}

.matches thead {
  vertical-align: bottom;
}

.matches th {
  padding: 0.625rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 10;
}

.matches td {
  padding: 0.625rem;
  white-space: nowrap;
}

.matches td.actions {
  padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
  float: right;
  vertical-align: middle;
}

.matches td {
  color: #555;
}

.matches a {
  color: inherit;
  text-decoration: underline;
}

.matches a:hover {
  text-decoration: none;
}

.matches button.selectables {
  width: 4.25rem;
}

/* Actions */

.disabledbox {
  cursor: not-allowed;
  pointer-events: auto;
}

.disabledbox select.dimmable:disabled, .disabledbox input.dimmable:disabled {
  opacity: 0.5 !important;
}

/* --------------- Components --------------- */

/* Plotly */

.plotly-notifier .notifier-note {
  background-color: #555555 !important;
}

.plotly-notifier p span {
  color: #ffffff !important;
}

/* Datepicker */

.vdp-datepicker div input[readonly] {
  background-color: #ffffff !important;
  cursor: default !important;
}

.datepicker {
  width: 100% !important;
  border: 1px solid #e5e5e5 !important;
}

.datepicker header {
  margin: 0 !important;
  width: 100% !important;
  line-height: 2.3rem !important;
  height: 2.3rem !important;
  position: relative !important;
}

.datepicker header .prev:not(.disabled):after {
  border-right: 5px solid #555 !important;
}

.datepicker header .prev.disabled:after {
  border-right: 5px solid #ddd !important;
}

.datepicker header .next:not(.disabled):after {
  border-left: 5px solid #555 !important;
}

.datepicker header .next.disabled:after {
  border-left: 5px solid #ddd !important;
}

.datepicker .cell {
  height: 1.8rem !important;
  line-height: 1.8rem !important;
  padding: 0 !important;
}

.datepicker .cell.selected {
  background: #f5f5f5 !important;
}

.datepicker .cell:not(.blank):not(.disabled):not(.day-header):hover {
  border: 1px solid #54B59F !important;
}

.datepicker .cell:not(.selected):not(.blank):not(.disabled):not(.day-header):hover {
  background: #54B59F !important;
  color: #fff !important;
}

/* Toggle */

.switch-text {
  line-height: 1em;
  padding-top: 0.35rem;
  padding-bottom: 0.5rem;
}

.switch {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  user-select: none;
  font-size: 9px;
  cursor: pointer;
}

.switch .switch-input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.switch .switch-label {
  position: absolute;
  top: 0;
  font-weight: 400;
  color: white;
  z-index: 1;
}

.switch .switch-label.switch-left {
  left: 9px;
}

.switch .switch-label.switch-right {
  right: 9px;
}

.switch .switch-core {
  display: block;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: border-color .3s, background-color .3s;
  user-select: none;
}

.switch .switch-core .switch-button {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 100%;
  background-color: #fff;
  z-index: 2;
}

.switch.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* Typeahead */

.typeahead {
  position: relative;
}

.typeahead-results {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  max-height: 6rem;
  overflow: auto;
  z-index: 100;
}

.typeahead-noclick {
  font-style: italic;
  padding: 0.25rem 0.5rem;
}

.typeahead-result {
  list-style: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.typeahead-result.is-active,
.typeahead-result:hover {
  background-color: #54B59F;
  color: #ffffff;
}

/* Modal */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-content {
  background-clip: border-box;
  border-radius: 0.2rem;
  max-height: 85vh;
  overflow: auto;
}

.modal-body {
  z-index: 100 !important;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-image: linear-gradient(45deg, transparent 50%, #E5E5E5 50%);
  background-position: 100% 0;
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1000 !important;
}

.modal-close:hover {
  background-image: linear-gradient(45deg, transparent 50%, #d2d2d2 50%);
}

.modal-close button, .modal-close button:hover {
  background: none;
  margin-left: 0.5rem;
  margin-top: -0.35rem;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
