[v-cloak] {
  display: none !important;
}

/* --------------- App Layouts --------------- */

/* Workflow Layout */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.55rem;
}

#app {
  position: absolute;
  top: 3.55rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

#app #sidebar {
  box-sizing: border-box;
  position: absolute;
  width: 22rem;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  border-right: 1px solid #e5e5e5;
}

#app #content {
  position: absolute;
  left: 22rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

#app #content.embed {
  left: 0rem !important;
  top: -3.55rem !important;
  z-index: 30;
}

@media (max-width: 1023.98px) {
  #app {
    display: flex;
    flex-direction: column;
  }
  #app #sidebar {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  #app #content {
    flex-shrink: 0;
    position: relative;
    left: auto;
    width: 100%;
    flex-grow: 1;
  }
}

/* Explore Layout */

#topbar {
  height: 3rem;
}

#slab {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

#slab #leftbar {
  box-sizing: border-box;
  position: absolute;
  width: 18rem;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  border-right: 1px solid #e5e5e5;
}

#slab #right {
  position: absolute;
  left: 18rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#slab #box {
  box-sizing: border-box;
  position: absolute;
  width: 15rem;
  right: 1.25rem;
  top: 1.25rem;
}

@media (max-width: 1023.98px) {
  #slab #leftbar {
    width: 15rem;
  }
  #slab #right {
    left: 15rem;
  }
  #slab #box {
    width: 12rem;
  }
}

@media (max-width: 767.98px) {
  #slab {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }
  #slab #leftbar {
    position: relative;
    width: 100%;
    border: 1px solid #e5e5e5;
    flex-shrink: 0;
    margin-bottom: 1.25rem;
  }
  #slab #right {
    position: relative;
    left: auto;
    width: 100%;
    border: 1px solid #e5e5e5;
    flex-shrink: 0;
    height: 70vh;
  }
  #slab #box {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    width: 100%;
    flex-shrink: 0;
    margin-top: 1.25rem;
  }
}

/* Navbar */

.navbar, .navbar div {
  background-color: #3b3b3b;
  z-index: 30;
}

.navbar a:hover {
  opacity: 1;
}

.navbar-brand {
  height: inherit;
  margin-left: 0.15rem;
  margin-top: 0.65rem;
  margin-bottom: 0.35rem;
  line-height: 0.75em;
}

.navbar-brand sup {
  font-size: 40%;
  top: -1em;
}

.navbar-brand small {
  margin-left: 0.03rem;
  font-size: 55%;
}

a.nav-link-chonk {
  padding: 0.85rem;
  color: #ccc;
  line-height: 1.1em;
  margin-top: -0.15rem;
}

a.nav-link-chonk .nav-circle {
  background-color: #555;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-top: 0.35rem;
  font-size: 80%;
}

a.nav-link-chonk small {
  color: #999;
  font-size: 65%;
}

a.nav-link-chonk:hover {
  color: #fff;
}

a.nav-link-chonk:hover .nav-circle {
  color: #fff;
  background-color: #666;
}

a.nav-link-chonk:hover small {
  color: #bbb;
}

a.nav-link-chonk.active .nav-circle {
  color: #333;
  background-color: #ccc;
}

a.nav-link-chonk.active small {
  color: #ccc;
}

a.nav-link {
  display: block;
  padding: 1.15rem;
  color: #ccc;
}

a.nav-link:hover {
  color: #fff;
}

.nav-expand {
  color: #fff;
}

.nav-expand:hover {
  color: #e5e5e5;
}

.navbar-divider {
  border-top: 1px solid #555;
  border-right: 1px solid #555;
}

/* Sidebar */

#sidebar-tabs {
  position: absolute;
  width: 3rem;
  left: 0rem;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-tab {
  opacity: 1 !important;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  color: #3b3b3b;
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
}

.sidebar-tab span {
  background-color: #5b5b5b;
  color: #fff;
  border-radius: 0.2rem;
  line-height: 1.5rem;
  font-size: 90%;
}

.sidebar-tab span:hover {
  background-color: #777;
}

.sidebar-tab.active {
  background-color: #fff;
  border-right: 1px solid #fff;
}

.sidebar-tab.active span, .sidebar-tab.active span:hover {
  background-color: #d5d5d5;
  color: #333;
}

.sidebar-spacer {
  border-right: 1px solid #e5e5e5;
}

#sidebar-settings {
  position: absolute;
  left: 3rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

@media (max-width: 1023.98px) {
  #sidebar-tabs, #sidebar-settings {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
  }
  #sidebar-tabs {
    height: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .sidebar-spacer {
    display: none;
  }
  .sidebar-tab {
    flex-grow: 1;
  }
  .sidebar-tab.active {
    border-bottom: 0;
    border-right: 1px solid #e5e5e5;
  }
}

/* Overlays */

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  z-index: 70;
}

.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(0,0,0,0.15)),color-stop(0.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(0,0,0,0.15)),color-stop(.75,rgba(0,0,0,0.15)),color-stop(.75,transparent),to(transparent));
  background-image:-webkit-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:-moz-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:-ms-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:-o-linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  background-image:linear-gradient(45deg,rgba(0,0,0,0.15) 2px,transparent 2px,transparent 4px,rgba(0,0,0,0.15) 4px,rgba(0,0,0,0.15) 6px,transparent 6px,transparent);
  -webkit-background-size:6px 6px;-moz-background-size:6px 6px;-ms-background-size:6px 6px;-o-background-size:6px 6px;
  background-size:6px 6px;
  z-index: 20;
  cursor: not-allowed;
}

/* --------------- Workflows --------------- */

/* Icon Boxes */

.icon-box-icon {
  line-height: 2.25rem
}
.icon-box-icon-average {
  font-size: 1.875rem;
}
.icon-box-icon-smallest {
  font-size: 1.6rem;
}
.icon-box-icon-smaller {
  font-size: 1.675rem;
}
.icon-box-icon-small {
  font-size: 1.75rem;
}
.icon-box-icon-large {
  font-size: 1.975rem;
}

/* --------------- Popups --------------- */

/* Title */

#logo {
  width: 82px;
  heigh: 35px;
}

#page-title sup {
  font-size: 40%;
  top: -1.2em;
}

/* ---------- Explore Documents ---------- */

/* ---------- Explore Relationships ---------- */

/* ----- Graph ----- */

/* ----- Traverse ----- */

/* Branches */

.branch .bar .line {
  width: 1px;
  height: 1rem;
}

.branch .bar .bubble {
  width: 1rem;
  height: 1rem;
  border: 1px solid transparent;
}

/* Matches */

.matches {
  overflow-x: scroll;
}

.matches.hasdropdowns {
  overflow-x: hidden;
  padding-bottom: 10rem;
  margin-bottom: -10rem;
}

.matches th {
  padding: 0.625rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 10;
}

.matches td {
  padding: 0.625rem;
  white-space: nowrap;
}

.matches td.actions {
  padding: 0.375rem 0.375rem 0.375rem 0.625rem;
  float: right;
  vertical-align: middle;
}

.matches a {
  color: inherit;
  text-decoration: underline;
}

.matches a:hover {
  text-decoration: none;
}

.matches button.selectables {
  width: 5rem;
  margin: 0 0.05rem;
}

/* Actions */

.actions .disabledbox {
  cursor: not-allowed;
  pointer-events: auto;
}

.actions .disabledbox select.dimmable:disabled, .disabledbox input.dimmable:disabled {
  opacity: 0.5 !important;
}

/* --------------- Components --------------- */

/* Datepicker */

.vdp-datepicker div input[readonly] {
  background-color: #ffffff !important;
  cursor: default !important;
}

.datepicker {
  width: 100% !important;
  border: 1px solid #e5e5e5 !important;
  font-size: 0.75em;
}

.datepicker header {
  margin: 0 !important;
  width: 100% !important;
  line-height: 2.3rem !important;
  height: 2.3rem !important;
  position: relative !important;
}

.datepicker header .prev:not(.disabled):after {
  border-right: 5px solid #555 !important;
}

.datepicker header .prev.disabled:after {
  border-right: 5px solid #ddd !important;
}

.datepicker header .next:not(.disabled):after {
  border-left: 5px solid #555 !important;
}

.datepicker header .next.disabled:after {
  border-left: 5px solid #ddd !important;
}

.datepicker .cell {
  height: 1.8rem !important;
  line-height: 1.8rem !important;
  padding: 0 !important;
}

.datepicker .cell.selected {
  background: #f5f5f5 !important;
}

.datepicker .cell:not(.blank):not(.disabled):not(.day-header):hover {
  border: 1px solid #54B59F !important;
}

.datepicker .cell:not(.selected):not(.blank):not(.disabled):not(.day-header):hover {
  background: #54B59F !important;
  color: #fff !important;
}
