{% extends "index.html.j2" %}
{% block title %}Inspect | {% endblock %}

{% block app %}

<div id="sidebar-icons" class="bg-white" v-show="store.state.embed == false" v-cloak>
  <div id="navicons" class="bg-light flex">
    <div class="navicon-tab flex justify-content-center items-center" :class="store.state.tab == 'query' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'query'); store.commit('error', false);"><i id="nav-query" class="icon-database fs-18"></i></span>
    </div>
    <div class="navicon-tab flex justify-content-center items-center" :class="store.state.tab == 'table' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'table'); store.commit('error', false);"><i id="nav-table" class="icon-table fs-18"></i></span>
    </div>
    <div class="navicon-tab flex justify-content-center items-center" :class="store.state.tab == 'chart' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'chart'); store.commit('error', false);"><i id="nav-chart" class="icon-bar-chart fs-18"></i></span>
    </div>
    <div class="navicon-tab flex justify-content-center items-center" :class="store.state.tab == 'map' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'map'); store.commit('error', false);"><i id="nav-map" class="icon-globe fs-20"></i></span>
    </div>
    <div class="navicon-spacer flex-grow-1"></div>
  </div>
  <div id="settings" class="p-2 flex flex-col">
    <template v-if="store.state.tab == 'query'">
      {% include "/visualization/settings/query.html.j2" %}
    </template>
    <template v-if="store.state.tab == 'table'">
      {% include "/visualization/settings/table.html.j2" %}
    </template>
    <template v-if="store.state.tab == 'chart'">
      {% include "/visualization/settings/chart.html.j2" %}
    </template>
    <template v-if="store.state.tab == 'map'">
      {% include "/visualization/settings/map.html.j2" %}
    </template>
    <p class="mt-auto pt-5 mb-0">[[copyright()]]</p>
  </div>
</div>
<div id="main-sidebar-icons" :class="{'embed': store.state.embed, 'p-2': !store.state.embed, 'bg-light': !store.state.embed}" v-cloak>
  <div id="plot" class="bg-white" :class="{'border': store.state.embed == false, 'h-100': _.isNil(store.state.results) || (store.state.tab != 'query' && _.isEmpty(store.state.output[store.state.tab]))}">
    <template v-if="store.state.tab == 'query'">
      {% include "/visualization/elements/query.html.j2" %}
    </template>
    <template v-if="store.state.tab == 'table'">
      {% include "/visualization/elements/table.html.j2" %}
    </template>
    <template v-if="store.state.tab == 'chart'">
      {% include "/visualization/elements/chart.html.j2" %}
    </template>
    <template v-if="store.state.tab == 'map'">
      {% include "/visualization/elements/map.html.j2" %}
    </template>
  </div>
  <div id="sharebar" class="mt-2 p-1 border bg-white" v-if="store.state.embed == false && store.state.tab != 'query' && !_.isEmpty(store.state.output[store.state.tab])">
    <div class="flex justify-between items-center">
      <div class="sharebar-text">{{store.getters.sharelink}}</div>
      <div><button class="btn btn-sm btn-light ml-1" @click="copy(store.getters.sharelink, 'shareclick')">{{shareclick ? 'Copied!': 'Copy Share Link'}}</button></div>
    </div>
    <hr class="my-1">
    <div class="flex justify-between items-center">
      <div class="sharebar-text">{{store.getters.embedcode}}</div>
      <div><button class="btn btn-sm btn-light ml-1" @click="copy(store.getters.embedcode, 'embedclick')">{{embedclick ? 'Copied!': 'Copy Embed Code'}}</button></div>
    </div>
  </div>
</div>
<div id="router"></div>
<div id="loading" v-if="store.state.loading && !store.state.loaded" class="flex justify-content-center items-center text-uppercase font-weight-light" v-cloak>Loading<span class="blink">...</span></div>
{% include "/visualization/partials/modals.html.j2" %}

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/modules/visualization/options.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/visualization/plot.js') ]]"></script>

{% endblock %}
