<div class="bg-white border border-secondary p-5 form-full form-sm form-nosubmit">
  <div class="form-group">
    <label class="label">Name:</label>
    <p class="form-text-top">Enter a name for the alert.</p>
    <input class="form-element" type="text" v-model="save.name" placeholder="Short Name"></input>
  </div>
  <div class="form-group">
    <label class="label">Description:</label>
    <p class="form-text-top">Enter a description for the alert.</p>
    <textarea class="form-element" v-model="save.description" placeholder="Details about the query, trigger, and why the alert exists" rows="3"></textarea>
  </div>
</div>
