<div class="alert alert-warning mb-5" v-if="!_.isNil(query.selected.dates.max)"><strong>WARNING:</strong> This query has a specified max date. If you want to monitor data from future dates, create a query with an empty max date.</div>
<div class="bg-white border border-secondary p-5 form-full form-sm">
  <div class="form-group">
    <label class="label">Trigger Event<span class="text-info">*</span></label>
    <p class="form-text-top">Select the type of event that will trigger the alert.</p>
    <select class="form-element" v-model="trigger.event">
      <option value="new_results">New results available</option>
    </select>
  </div>
  <div class="form-group">
    <label class="label">Max Frequency<span class="text-info">*</span></label>
    <p class="form-text-top">Enter the maximum frequency of alerts you will receive. If you choose to receive weekly alerts, you will receive up to one alert each week even if the trigger event occurs daily.</p>
    <select class="form-element" v-model="trigger.frequency">
      <option value="weekly">Weekly</option>
      <option value="daily">Daily</option>
    </select>
  </div>
  <p class="text-xs text-muted"><span class="text-info">*</span>This field is required.</p>
</div>
