{% extends "explore/relationships/app.html.j2" %}
{% block title %}Graph | Explore Relationships | {% endblock %}

{% block app %}

<div id="slab">
  <div id="leftbar" class="p-5 bg-white flex flex-col" v-cloak>
      {% include "/explore/relationships/graph/partials/sidebar.html.j2" %}
      {% if mode != "popup" %}
        <p class="mt-auto text-xs pt-12">[[copyright()]]</p>
      {% endif %}
  </div>
  <div id="right" :class="{'bg-light': store.state.explore.elements.length == 0}" v-cloak>
      <div v-if="store.state.explore.elements.length == 0 && !(store.state.explore.loading && !store.state.explore.loaded)" class="flex justify-center items-center w-full h-full">
        <div class="leading-relaxed">
          <p class="font-light text-sm">Your graph is currently empty!</p>
          <p class="text-muted text-xs">(Use the sidebar to add elements.)</p>
        </div>
      </div>
      <network></network>
  </div>
  <div id="box" v-if="store.state.explore.elements.length > 0" v-cloak>
      {% include "/explore/relationships/graph/partials/box.html.j2" %}
  </div>
</div>
<div id="router"></div>
<div id="loading" v-if="store.state.explore.loading && !store.state.explore.loaded" class="flex justify-center items-center uppercase font-light" v-cloak>Loading<span class="blink">...</span></div>
{% include "/explore/relationships/graph/partials/modals.html.j2" %} {% endblock %} {% block scripts %}

<script src="//cdnjs.cloudflare.com/ajax/libs/cytoscape/3.3.1/cytoscape.min.js"></script>
<script src="//unpkg.com/cytoscape-context-menus@4.0.0"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/graph/blocks/network.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/graph/blocks/stat.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/explore/relationships/graph/main.js') ]]"></script>

{% endblock %}
