<h6 class="section-heading mb-1">Chart</h6>
<p>Use the options below to build an embeddable chart from the data in the query tab.</p>
<form @submit.prevent="submit()">
  <!-- Type -->
  <div class="form-group">
    <label class="label">Chart Type:</label>
    <multiselect v-model="settings.chart.type" track-by="value" label="label" :options="options.chart.type" :searchable="false" :allow-empty="false"></multiselect>
  </div>
  <!-- Axes -->
  <div class="form-group">
    <label class="label">X-Axis:</label>
    <multiselect v-model="settings.chart.x" track-by="value" label="label" :options="options.chart.x" :allow-empty="false"></multiselect>
  </div>
  <div class="form-group" v-if="format('type') != 'hist'">
    <label class="label">Y-Axis:</label>
    <multiselect v-model="settings.chart.y" track-by="value" label="label" :options="options.chart.y" :allow-empty="false"></multiselect>
  </div>
  <!-- Aggregation -->
  <div class="form-group" v-if="format('type') != 'hist'">
    <label class="label">Aggregation:</label>
    <multiselect v-model="settings.chart.agg" track-by="value" label="label" :options="options.chart.agg" :searchable="false"></multiselect>
  </div>
  <!-- Filter -->
  <div class="form-group">
    <label class="label">Filter On:</label>
    <multiselect v-model="settings.chart.fcol" track-by="value" label="label" :options="options.chart.fcol"></multiselect>
  </div>
  <div class="form-group" v-if="!_.isNil(format('fcol'))">
    <label class="label">Filter Values:</label>
    <multiselect v-model="settings.chart.fvals" track-by="value" label="label" :options="options.chart.fvals" :multiple="true"></multiselect>
  </div>
  <!-- Submit -->
  <input type="submit" class="btn btn-xs btn-block btn-gray mt-2" :value="store.state.waiting ? 'Loading...' : 'Submit'" :disabled="_.isNil(store.state.results) || store.state.waiting || _.isNil(format('x')) || (format('type') != 'hist' && _.isNil(format('y'))) || (!_.isNil(format('fcol')) && settings.table.fvals == '')"/>
  <p class="mt-2" v-if="_.isNil(store.state.results) && !(store.state.loading && !store.state.loaded)">You must first use the query tab to grab data to plot before you can create a chart.</p>
  <p class="mt-2 text-danger" v-if="store.state.error">An error has occurred. Please try again.</p>
</form>
