<h6 class="section-heading mb-1">Table</h6>
<p>Use the options below to build an embeddable data table from the data in the query tab.</p>
<form @submit.prevent="submit()">
  <!-- Columns -->
  <div class="form-group">
    <label class="label">Columns:</label>
    <multiselect v-model="settings.table.cols" track-by="value" label="label" :options="options.table.cols" :multiple="true"></multiselect>
  </div>
  <!-- Filter -->
  <div class="form-group">
    <label class="label">Filter On:</label>
    <multiselect v-model="settings.table.fcol" track-by="value" label="label" :options="options.table.fcol"></multiselect>
  </div>
  <div class="form-group" v-if="!_.isNil(format('fcol'))">
    <label class="label">Filter Values:</label>
    <multiselect v-model="settings.table.fvals" track-by="value" label="label" :options="options.table.fvals" :multiple="true"></multiselect>
  </div>
  <!-- Sort -->
  <div class="form-group">
    <label class="label">Sort By:</label>
    <multiselect v-model="settings.table.scol" track-by="value" label="label" :options="options.table.scol"></multiselect>
  </div>
  <div class="form-group" v-if="!_.isNil(format('scol'))">
    <label class="label">Sort Direction:</label>
    <multiselect v-model="settings.table.sdir" track-by="value" label="label" :options="options.table.sdir" :searchable="false" :allow-empty="false"></multiselect>
  </div>
  <!-- Paginate -->
  <div class="form-group">
    <label class="label">Paginate:</label>
    <multiselect v-model="settings.table.pag" track-by="value" label="label" :options="options.table.pag" :searchable="false" :allow-empty="false"></multiselect>
  </div>
  <div class="form-group" v-if="format('pag') == 'yes'">
    <label class="label">Rows Per Page:</label>
    <multiselect v-model="settings.table.rows" track-by="value" label="label" :options="options.table.rows" :searchable="false" :allow-empty="false"></multiselect>
  </div>
  <!-- Submit -->
  <input type="submit" class="btn btn-xs btn-block btn-gray mt-2" :value="store.state.waiting ? 'Loading...' : 'Submit'" :disabled="_.isNil(store.state.results) || store.state.waiting || settings.table.cols == '' || (!_.isNil(format('fcol')) && settings.table.fvals == '')"/>
  <p class="mt-2" v-if="_.isNil(store.state.results) && !(store.state.loading && !store.state.loaded)">You must first use the query tab to grab data before you can create a data table.</p>
  <p class="mt-2 text-danger" v-if="store.state.error">An error has occurred. Please try again.</p>
</form>
