{% extends "index.html.j2" %}
{% block title %}View Alert | {% endblock %}

{% block html %}

<div id="main" class="bg-light p-5 flex flex-col min-h-screen" v-cloak>
  <template v-if="!_.isEmpty(alert)">
    <div class="bg-white border border-secondary p-5">
      <h3 class="text-xl font-light text-dark-gray">{{alert.name}}</h3>
      <p class="font-light text-sm text-muted mb-3">{{alert.id}}</p>
      <div class="bg-xlight text-dark text-xs p-3">
        <alertdisplayer :alert="alert" :hide="['visibility', 'name', 'id']" :ratio="ratio"></alertdisplayer>
      </div>
    </div>
  </template>
  <div class="bg-white border border-secondary p-5" v-else-if="loaded">
    <p class="text-xs">This alert could not be found.</p>
  </div>
  {% if mode != "popup" %}
    <p class="text-xs pt-5 mt-auto">[[copyright()]]</p>
  {% endif %}
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/blocks/alert/alertdisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/workflow/alert/popup/view.js') ]]"></script>

{% endblock %}
