{% extends "view.html.j2" %}
{% block title %}View Query | {% endblock %}

{% block app %}

<template v-cloak>
  <template v-if="!_.isEmpty(query)">
    <div class="alert alert-info mb-5" v-if="!_.isNil(query.freshness)"><strong>NOTE:</strong> You are viewing results from data indexed after {{moment(query.freshness).local()}}. <a class="underline" :href="'/view/query/?id=' + query.id">Click here</a> to view all results for this query.</div>
    <div class="bg-white border border-secondary p-5 mb-5">
      <h3 class="text-xl font-light text-dark-gray">{{query.name}}</h3>
      <p class="font-light text-sm text-muted mb-3">{{query.id}}</p>
      <div class="mb-3">
        <a :href="'/create/query/?action=clone&id=' + query.id" class="btn btn-sm btn-gray mb-2" target="_blank">Clone Query</a>
        <button class="btn btn-sm btn-secondary mb-2" @click="store.getters['auth/isVerified'] ? results.download = 'csv' : store.commit('auth/verify', true)" :disabled="results.download == 'csv'">
          <span v-if="results.download == 'csv'">Rows Processed: {{results.downloading | numbreviate}}<span v-if="results.count > 0"> of {{results.count | numbreviate}}</span></span>
          <span v-else>Download Results as CSV</span>
        </button>
        <button class="btn btn-sm btn-secondary mb-2" @click="store.getters['auth/isVerified'] ? results.download = 'json' : store.commit('auth/verify', true)" :disabled="results.download == 'json'">
          <span v-if="results.download == 'json'">Rows Processed: {{results.downloading | numbreviate}}<span v-if="results.count > 0"> of {{results.count | numbreviate}}</span></span>
          <span v-else>Download Results as JSON</span>
        </button>
        <button class="btn btn-sm btn-light mb-2" @click="copy"><span v-if="copied">Copied!</span><i class="fas fa-link" v-else></i></button>
      </div>
      <p class="text-xs mb-5">(You can download up to 10K results for use in other applications. If you need more, <a href="https://codefordemocracy.org/contact/" target="_blank">contact us</a> for a bulk export.)</p>
      <div class="bg-xlight text-dark text-xs p-3">
        <querydisplayer :query="query" :hide="['visibility', 'name', 'id']" :ratio="ratio"></querydisplayer>
      </div>
    </div>
    <template v-if="!_.isEmpty(_.filter(RECIPES, {template: query.template}))">
      <div class="alert alert-warning mb-5" v-if="!_.isNil(_.filter(RECIPES, {template: query.template})[0].warning)"><strong>WARNING:</strong> {{_.filter(RECIPES, {template: query.template})[0].warning}}</div>
      <div class="bg-gray-55 p-5 text-xs text-white mb-5 leading-normal">
        <configuration :recipe="_.filter(RECIPES, {template: query.template})[0]" :lists="query.lists" version="results"></configuration>
      </div>
    </template>
    <div class="bg-white border border-secondary p-5 mb-5">
      <resultshistogram :query="query"></resultshistogram>
    </div>
    <div class="bg-white border border-secondary p-5">
      <resultstable :query="query" :download="results.download" @downloading="downloadingResults" @count="countResults"></resultstable>
    </div>
  </template>
  <div class="bg-white border border-secondary p-5" v-else-if="loaded">
    <p class="text-xs">This query could not be found. <span v-if="!store.getters['auth/isLoggedIn']">Perhaps you need to <a href="javascript:void(0)" @click="store.commit('auth/login', true)">log in</a> to view it.</span><span v-else>You might not have the necessary permissions to view it, or it could have been deleted.</span></p>
  </div>
</template>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/blocks/recipe/configurable.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/recipe/configuration.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/query/querydisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/query/resultstable.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/query/resultshistogram.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/workflow/query/popup/view.js') ]]"></script>

{% endblock %}
