<div class="mb-4">
  <a href="https://codefordemocracy.org" target="_blank"><img src="//assets.codefordemocracy.org/img/logo-tiny.png" id="logo" /></a>
</div>
<div v-if="store.state.step == 'intro'">
  <h1 id="page-title">Graph<sup>(ALPHA)</sup></h1>
  <p class="lead">Use this tool to explore the Code for Democracy knowledge graph</p>
  <p>Learn the data schema, visualize nodes and edges, and discover interesting networks</p>
  <button @click="store.commit('step', 'start')" type="button" class="btn btn-xs btn-gray mt-3 px-2">Get Started &rarr;</button>
</div>
<div v-if="store.state.step == 'start'">
  <h6 class="section-heading mb-1" v-if="store.state.elements.length == 0">Choose Starting Point</h6>
  <h6 class="section-heading mb-1" v-else>Search</h6>
  <p v-if="store.state.elements.length == 0">To begin exploring the graph, choose one of the starting points below:</p>
  <p v-else>Add more elements to your graph by using one of the search flows below:</p>
  <button v-for="flow in [ ['candidates', 'Candidates'], ['committees', 'Committees'], ['donors', 'Donors'], ['payees', 'Payees'], ['tweeters', 'Tweeters'], ['sources', 'Sources'], ['buyers', 'Buyers'], ['pages', 'Pages'] ]" @click="store.commit('step', 'search'); store.commit('flow', flow[0])" type="button" class="btn btn-xs btn-block btn-gray">{{flow[1]}}</button>
  <button @click="store.commit('step', 'intro')" type="button" class="btn btn-xs btn-light mt-4">&larr; Back</button>
</div>
<div v-if="store.state.step == 'search'">
  <form @submit.prevent="submit()">
    <div v-if="store.state.flow == 'candidates'">
      {% include "/graph/settings/candidates.html" %}
    </div>
    <div v-if="store.state.flow == 'committees'">
      {% include "/graph/settings/committees.html" %}
    </div>
    <div v-if="store.state.flow == 'donors'">
      {% include "/graph/settings/donors.html" %}
    </div>
    <div v-if="store.state.flow == 'payees'">
      {% include "/graph/settings/payees.html" %}
    </div>
    <div v-if="store.state.flow == 'tweeters'">
      {% include "/graph/settings/tweeters.html" %}
    </div>
    <div v-if="store.state.flow == 'sources'">
      {% include "/graph/settings/sources.html" %}
    </div>
    <div v-if="store.state.flow == 'buyers'">
      {% include "/graph/settings/buyers.html" %}
    </div>
    <div v-if="store.state.flow == 'pages'">
      {% include "/graph/settings/pages.html" %}
    </div>
    <input type="submit" class="btn btn-xs btn-block btn-gray mt-2" value="Search" />
  </form>
  <div class="text-right mt-1">
    <span class="text-primary pointer" v-if="store.state.advanced == false" @click="store.commit('advanced', true)">Advanced +</span>
    <span class="text-primary pointer" v-if="store.state.advanced == true" @click="store.commit('advanced', false)">Advanced &ndash;</span>
  </div>
  <button @click="store.commit('step', 'start')" type="button" class="btn btn-xs btn-light mt-2">&larr; Back</button>
</div>
<div v-if="store.state.step == 'results' || store.state.step == 'actions' || store.state.step == 'manipulations'">
  <h6 class="section-heading mb-1" v-if="store.state.step == 'results'">Results</h6>
  <h6 class="section-heading mb-1" v-if="store.state.step == 'actions' || store.state.step == 'manipulations'">{{store.state.flow}}</h6>
  <template v-if="store.state.step == 'manipulations'">
    <p v-if="store.state.flow == 'smart select'">You've selected <b>{{store.state.selected.length}} {{ store.state.selected.length != 1 ? 'elements' : 'element' }}</b>.</p>
    <p v-if="store.state.flow == 'delete elements' || store.state.flow == 'undo last addition'">You've deleted <b>{{store.state.diff.elementsToRemove.length}} {{ store.state.diff.elementsToRemove.length != 1 ? 'elements' : 'element' }}</b>.</p>
    <p v-if="store.state.flow == 'undo last deletion'">You've added <b>{{store.state.diff.elementsToAdd.length}} {{ store.state.diff.elementsToAdd.length != 1 ? 'elements' : 'element' }}</b>.</p>
  </template>
  <template v-else>
    <div v-if="store.state.waiting == true">
      <p>Hold tight, we're searching for results!</p>
    </div>
    <template v-else>
      <p v-if="store.state.diff.idsToAdd.length == 0"><span v-if="store.state.error == true">An error has occurred. </span>Unfortunately, there are no new results.</p>
      <div v-else>
        <p class="mb-1">You've added <strong>{{store.state.diff.idsToAdd.length}} {{store.state.diff.idsToAdd.length == 1 ? 'element' : 'elements'}}</strong> to your graph!</p>
        <p>Use the box on the right side of the screen in order to further explore your graph.</p>
      </div>
    </template>
  </template>
  <button @click="store.commit('viewkey', 'start')" type="button" class="btn btn-xs btn-block btn-secondary mt-2">View Key</button>
  <button @click="store.commit('step', 'start')" type="button" class="btn btn-xs btn-block btn-gray">Search for More Nodes</button>
  <button v-if="store.state.step == 'results'" @click="store.commit('step', 'search')" type="button" class="btn btn-xs btn-light mt-4">&larr; Back</button>
</div>
