{% extends "index.html.j2" %}
{% block title %}View Visualization | {% endblock %}

{% block html %}

<div id="main" class="bg-light p-5 flex flex-col min-h-screen" v-cloak>
  <template v-if="!_.isEmpty(visualization)">
    <div class="bg-white border border-secondary p-5">
      <h3 class="text-xl font-light text-dark-gray">{{visualization.name}}</h3>
      <p class="font-light text-sm text-muted mb-3">{{visualization.id}}</p>
      <div class="mb-3">
        <a :href="'/create/visualization/?action=clone&id=' + visualization.id" class="btn btn-sm btn-gray mb-2" target="_blank">Clone Visualization</a>
        <template v-if="!_.isNull(review.datawrapper)">
          <button class="btn btn-sm btn-secondary mb-2" @click="DATAWRAPPER(review.datawrapper, visualization.name, visualization.description)">Send to Datawrapper</button>
          <button class="btn btn-sm btn-secondary mb-2" @click="store.getters['auth/isVerified'] ? review.download = 'csv' : store.commit('auth/verify', true)" :disabled="review.download == 'csv'">
            <span v-if="review.download == 'csv'">Rows Processed: {{review.downloading | numbreviate}}<span v-if="review.count > 0"> of {{review.count | numbreviate}}</span></span>
            <span v-else>Download Data as CSV</span>
          </button>
          <button class="btn btn-sm btn-secondary mb-2" @click="store.getters['auth/isVerified'] ? review.download = 'json' : store.commit('auth/verify', true)" :disabled="review.download == 'json'">
            <span v-if="review.download == 'json'">Rows Processed: {{review.downloading | numbreviate}}<span v-if="review.count > 0"> of {{review.count | numbreviate}}</span></span>
            <span v-else>Download Data as JSON</span>
          </button>
        </template>
      </div>
      <p class="text-xs mt-3 mb-5">(You can download up to 10K rows of data for use in other applications. If you need more, <a href="https://codefordemocracy.org/contact/" target="_blank">contact us</a> for a bulk export.)</p>
      <div class="bg-xlight text-dark text-xs p-3">
        <vizdisplayer :viz="visualization" :hide="['visibility', 'name', 'id']" :ratio="ratio"></vizdisplayer>
      </div>
    </div>
    <div class="bg-white border border-secondary p-5 mt-5" v-if="!_.isNull(query)">
      <vizreviewer :category="visualization.category" :query="query" :aggregations="visualization.aggregations" @datawrapper="updateDatawrapper" :download="review.download" @downloading="downloadingData"></vizreviewer>
    </div>
  </template>
  <div class="bg-white border border-secondary p-5" v-else-if="loaded">
    <p class="text-xs">This visualization could not be found. <span v-if="!store.getters['auth/isLoggedIn']">Perhaps you need to <a href="javascript:void(0)" @click="store.commit('auth/login', true)">log in</a> to view it.</span><span v-else>You might not have the necessary permissions to view it, or it could have been deleted.</span></p>
  </div>
  {% if mode != "popup" %}
    <p class="text-xs pt-5 mt-auto">[[copyright()]]</p>
  {% endif %}
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/blocks/visualization/vizdisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/visualization/vizreviewer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/workflow/visualization/popup/view.js') ]]"></script>

{% endblock %}
