<h5 class="text-2xl text-dark-gray mb-2">Select Recipe</h5>
<p class="font-light text-sm leading-relaxed mb-3">Choose one of our analytical recipes as the starting point for your query.</p>
<p class="text-xs">See examples of each type of list by toggling the <mark class="px-1">Show Example Lists</mark> option.</p>
