{% extends "index.html.j2" %} {% block html %}

<!-- navigation -->
<nav class="navbar flex flex-wrap justify-between items-stretch" id="navbar">
  <div class="flex items-center flex-shrink-0 text-white ml-3 mr-12">
    <a class="navbar-logo" href="[[ url_for('route_home') ]]"><img src="//assets.codefordemocracy.org/img/favicon-white.png" width="32" height="32" /></a>
    <a class="navbar-brand" href="[[ url_for('route_home') ]]">Tools<sup>(BETA)</sup><br/><small class="text-gray-50">by Code for Democracy</small></a>
  </div>
  <template v-cloak>
    <div class="block lg:hidden nav-expand">
      <button class="fas fa-bars p-5" @click="open = !open"></button>
    </div>
    <div class="text-sm w-full lg:flex lg:flex-grow lg:items-center lg:w-auto" :class="open ? 'block' : 'hidden'">
      <div class="lg:flex lg:flex-grow lg:items-center">
        <div class="navbar-divider self-stretch lg:hidden"></div>
        <a class="nav-link-chonk flex [[ 'active' if request.url_rule.endpoint == 'route_create_list' ]]" href="[[ url_for('route_create_list') ]]"><span class="nav-circle">A</span><span><small>CREATE A</small><br/>List</span></a>
        <a class="nav-link-chonk flex [[ 'active' if request.url_rule.endpoint == 'route_create_query' ]]" href="[[ url_for('route_create_query') ]]"><span class="nav-circle">B</span><span><small>CREATE A</small><br/>Query</span></a>
        <a class="nav-link-chonk flex [[ 'active' if request.url_rule.endpoint == 'route_create_visualization' ]]" href="[[ url_for('route_create_visualization') ]]"><span class="nav-circle">C</span><span><small>CREATE A</small><br/>Visualization</span></a>
        <a class="nav-link-chonk flex [[ 'active' if request.url_rule.endpoint == 'route_create_alert' ]]" href="[[ url_for('route_create_alert') ]]"><span class="nav-circle">D</span><span><small>CREATE AN</small><br/>Alert</span></a>
      </div>
      <div class="lg:flex lg:items-center lg:mr-1">
        <template v-if="store.getters['auth/isLoaded']">
          <div class="navbar-divider self-stretch lg:hidden"></div>
          <a class="nav-link [[ 'active' if request.url_rule.endpoint == 'route_dashboard' ]]" href="[[ url_for('route_dashboard') ]]" v-if="store.getters['auth/isLoggedIn']">@{{store.state.auth.profile.username}}</a>
          <a class="nav-link" href="javascript:void(0)" @click="store.commit('auth/login', true)" v-else>Log In</a>
        </template>
        <div class="navbar-divider self-stretch lg:mx-2"></div>
        <a class="nav-link" href="https://docs.codefordemocracy.org/tools/" target="_blank">Documentation</a>
        <a class="nav-link" href="https://api.codefordemocracy.org" target="_blank">API</a>
      </div>
    </div>
  </template>
</nav>
<!-- / navigation -->

<div id="app">
  {% block app %}{% endblock %}
</div>

{% endblock %}
