{% extends "app.html.j2" %} {% block title %}Dashboard | {% endblock %} {% block app %}

<div id="main" class="bg-light p-5 text-dark flex flex-col absolute top-0 left-0 right-0 bottom-0 overflow-scroll" v-cloak>
  <template>
    <div class="border border-secondary bg-white p-5" v-if="!store.getters['auth/isLoaded']">
      <p class="text-xs">Please wait, we're loading your dashboard<span class="blink">...</span></p>
    </div>
    <div class="p-5 mb-5" :class="!store.getters['auth/isLoggedIn'] ? 'border border-secondary bg-white' : 'bg-gray-55'" v-else>
      <p v-if="!store.getters['auth/isLoggedIn']">You are logged out. <a href="javascript:void(0)" @click="store.commit('auth/login', true)">Click here to login.</a></p>
      <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center" v-else>
        <div class="pb-5 lg:pb-0">
          <h5 class="text-xl font-light text-white">Welcome, {{store.state.auth.profile.email}}!</h5>
          <p class="text-xs font-light text-gray-40">(This is your private dashboard. <a class="text-white" :href="'/user/' + store.state.auth.profile.username + '/'" v-on:click.prevent="POPUP(event.currentTarget.href, 'popup-user-' + _.uniqueId(), 0.7, window)">Click here</a> to view your public profile.)</p>
        </div>
        <div>
          <a :href="ACCOUNTURL + '/portal/'" class="btn btn-sm btn-white mr-1" target="_blank">Manage Your Account</a>
          <button class="btn btn-sm btn-white" @click="store.commit('auth/logout', true)">Log Out</button>
        </div>
      </div>
    </div>
  </template>
  <template v-if="store.getters['auth/isLoggedIn']">
    <div class="border border-secondary bg-white p-5" v-if="!lists || !queries || !visualizations || !alerts">
      <p class="text-xs">Please wait, we're loading your saved objects<span class="blink">...</span></p>
    </div>
    <tabs v-else>
      <tab name="Lists" class="p-5" :selected="tab == 'lists'">
        <div class="form-full form-sm grid grid-cols-1 sm:grid-cols-3 gap-5 mb-5">
          <input class="form-element sm:col-span-1" type="text" v-model="filters.list.term" placeholder="Filter lists by search term..."></input>
          <div class="flex sm:justify-end items-center sm:col-span-2 text-xs">
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="lists_all" value="all" v-model="filters.list.visibility"><label for="lists_all" class="mr-3">All Lists</label>
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="lists_public" value="public" v-model="filters.list.visibility" :disabled="!store.getters['auth/isVerified']" :class="!store.getters['auth/isVerified'] ? 'cursor-not-allowed border-gray-40' : ''"
><label for="lists_public" class="mr-3" :class="!store.getters['auth/isVerified'] ? 'cursor-not-allowed text-gray-40' : ''">Public Lists</label>
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="lists_hidden" value="hidden" v-model="filters.list.visibility"><label for="lists_hidden">Hidden Lists</label>
          </div>
        </div>
        <div class="bg-xlight text-xs p-3" v-if="_.isEmpty(filter('lists', filters.list.term, filters.list.visibility))">
          You don't have any {{filters.list.visibility == 'all' ? 'saved' : filters.list.visibility}} lists.
        </div>
        <listpaginator :lists="filter('lists', filters.list.term, filters.list.visibility)" :hide="['created_by']" @toggle="toggleList" @confirm="confirmList"></listpaginator>
      </tab>
      <tab name="Queries" class="p-5" :selected="tab == 'queries'">
        <div class="form-full form-sm grid grid-cols-1 sm:grid-cols-3 gap-5 mb-5">
          <input class="form-element sm:col-span-1" type="text" v-model="filters.query.term" placeholder="Filter queries by search term..."></input>
          <div class="flex sm:justify-end items-center sm:col-span-2 text-xs">
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="queries_all" value="all" v-model="filters.query.visibility"><label for="queries_all" class="mr-3">All Queries</label>
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="queries_public" value="public" v-model="filters.query.visibility" :disabled="!store.getters['auth/isVerified']" :class="!store.getters['auth/isVerified'] ? 'cursor-not-allowed border-gray-40' : ''"
><label for="queries_public" class="mr-3" :class="!store.getters['auth/isVerified'] ? 'cursor-not-allowed text-gray-40' : ''">Public Queries</label>
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="queries_hidden" value="hidden" v-model="filters.query.visibility"><label for="queries_hidden">Hidden Queries</label>
          </div>
        </div>
        <div class="bg-xlight text-xs p-3" v-if="_.isEmpty(filter('queries', filters.query.term, filters.query.visibility))">
          You don't have any {{filters.query.visibility == 'all' ? 'saved' : filters.query.visibility}} queries.
        </div>
        <querypaginator :queries="filter('queries', filters.query.term, filters.query.visibility)" :hide="['created_by']" @toggle="toggleQuery" @confirm="confirmQuery"></querypaginator>
      </tab>
      <tab name="Visualizations" class="p-5" :selected="tab == 'visualizations'">
        <div class="form-full form-sm grid grid-cols-1 sm:grid-cols-3 gap-5 mb-5">
          <input class="form-element sm:col-span-1" type="text" v-model="filters.visualization.term" placeholder="Filter visualizations by search term..."></input>
        </div>
        <div class="bg-xlight text-xs p-3" v-if="_.isEmpty(filter('visualizations', filters.visualization.term))">
          You don't have any saved visualizations.
        </div>
        <vizpaginator :visualizations="filter('visualizations', filters.visualization.term)" :hide="['created_by']" @confirm="confirmVisualization"></vizpaginator>
      </tab>
      <tab name="Alerts" class="p-5" :selected="tab == 'alerts'">
        <div class="form-full form-sm grid grid-cols-1 sm:grid-cols-3 gap-5 mb-5">
          <input class="form-element sm:col-span-1" type="text" v-model="filters.alert.term" placeholder="Filter alerts by search term..."></input>
          <div class="flex sm:justify-end items-center sm:col-span-2 text-xs">
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="alerts_all" value="all" v-model="filters.alert.active"><label for="alerts_all" class="mr-3">All Alerts</label>
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="alerts_active" :value="true" v-model="filters.alert.active" :disabled="!store.getters['auth/isVerified']" :class="!store.getters['auth/isVerified'] ? 'cursor-not-allowed border-gray-40' : ''"
><label for="alerts_active" class="mr-3" :class="!store.getters['auth/isVerified'] ? 'cursor-not-allowed text-gray-40' : ''">Active Alerts</label>
            <input type="radio" class="text-green focus:ring-green focus:ring-opacity-0 mr-1" id="alerts_inactive" :value="false" v-model="filters.alert.active"><label for="alerts_inactive">Inactive Alerts</label>
          </div>
        </div>
        <div class="bg-xlight text-xs p-3" v-if="_.isEmpty(filter('alerts', filters.alert.term, filters.alert.active))">
          You don't have any <span v-if="filters.alert.active == 'all'">saved</span><span v-else>{{filters.alert.active ? 'active' : 'inactive'}}</span> alerts.
        </div>
        <alertpaginator :alerts="filter('alerts', filters.alert.term, filters.alert.active)" :hide="['created_by']" @toggle="toggleAlert" @confirm="confirmAlert"></alertpaginator>
      </tab>
    </tabs>
  </template>
  <p class="text-xs pt-5 mt-auto">[[copyright()]]</p>
  <modal :show="confirm.list.modal" @cancel="confirm.list.modal = false">
    <div slot="header">
      <h5 class="modal-title">Confirm List Deletion</h5>
      <p class="modal-subtitle">Are you sure you want to delete this list?</p>
    </div>
    <div slot="body">
      <div class="alert alert-warning"><strong>WARNING:</strong> The deletion of lists is irreversible. You are deleting the list with name <u>{{confirm.list.name}}</u> and ID <u>{{confirm.list.id}}</u>.</div>
    </div>
    <div slot="footer" class="flex justify-end">
      <button type="button" @click="confirm.list.modal = false" class="btn btn-sm btn-secondary mr-1">Cancel</button>
      <button type="button" @click="deleteList(); confirm.list.modal = false" class="btn btn-sm btn-gray">Confirm</button>
    </div>
  </modal>
  <modal :show="confirm.query.modal" @cancel="confirm.query.modal = false">
    <div slot="header">
      <h5 class="modal-title">Confirm Query Deletion</h5>
      <p class="modal-subtitle">Are you sure you want to delete this query?</p>
    </div>
    <div slot="body">
      <div class="alert alert-warning"><strong>WARNING:</strong> The deletion of queries is irreversible. You are deleting the query with name <u>{{confirm.query.name}}</u> and ID <u>{{confirm.query.id}}</u>.</div>
    </div>
    <div slot="footer" class="flex justify-end">
      <button type="button" @click="confirm.query.modal = false" class="btn btn-sm btn-secondary mr-1">Cancel</button>
      <button type="button" @click="deleteQuery(); confirm.query.modal = false" class="btn btn-sm btn-gray">Confirm</button>
    </div>
  </modal>
  <modal :show="confirm.visualization.modal" @cancel="confirm.visualization.modal = false">
    <div slot="header">
      <h5 class="modal-title">Confirm Query Deletion</h5>
      <p class="modal-subtitle">Are you sure you want to delete this visualization?</p>
    </div>
    <div slot="body">
      <div class="alert alert-warning"><strong>WARNING:</strong> The deletion of visualizations is irreversible. You are deleting the visualization with name <u>{{confirm.visualization.name}}</u> and ID <u>{{confirm.visualization.id}}</u>.</div>
    </div>
    <div slot="footer" class="flex justify-end">
      <button type="button" @click="confirm.visualization.modal = false" class="btn btn-sm btn-secondary mr-1">Cancel</button>
      <button type="button" @click="deleteVisualization(); confirm.visualization.modal = false" class="btn btn-sm btn-gray">Confirm</button>
    </div>
  </modal>
  <modal :show="confirm.alert.modal" @cancel="confirm.alert.modal = false">
    <div slot="header">
      <h5 class="modal-title">Confirm Alert Deletion</h5>
      <p class="modal-subtitle">Are you sure you want to delete this alert?</p>
    </div>
    <div slot="body">
      <div class="alert alert-warning"><strong>WARNING:</strong> The deletion of alerts is irreversible. You are deleting the alert with name <u>{{confirm.alert.name}}</u> and ID <u>{{confirm.alert.id}}</u>.</div>
    </div>
    <div slot="footer" class="flex justify-end">
      <button type="button" @click="confirm.alert.modal = false" class="btn btn-sm btn-secondary mr-1">Cancel</button>
      <button type="button" @click="deleteAlert(); confirm.alert.modal = false" class="btn btn-sm btn-gray">Confirm</button>
    </div>
  </modal>
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/blocks/recipe/configurable.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/recipe/configuration.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/list/listdisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/list/listpaginator.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/query/querydisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/query/querypaginator.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/visualization/vizdisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/visualization/vizpaginator.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/alert/alertdisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/blocks/alert/alertpaginator.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/dashboard.js') ]]"></script>

{% endblock %}
