{% extends "app.html.j2" %}
{% block app %}

<div class="bg-light p-5 flex flex-col justify-center items-center md:min-h-full">
  <div class="max-w-6xl my-auto grid grid-cols-1 md:grid-cols-2 gap-5 text-darker">
    <div class="bg-white border border-secondary p-5">
      <h4 class="label">Workflow A</h4>
      <h2 class="text-2xl font-light text-dark-gray mb-2">Create a List</h2>
      <p class="font-light text-sm leading-relaxed mb-3">Lists are reusable collections of entities such as people or organizations. They can be used as stand-alone references or as the building blocks for queries.</p>
      <a href="[[ url_for('route_create_list') ]]" class="btn btn-sm btn-gray">Launch Workflow &rarr;</a>
    </div>
    <div class="bg-white border border-secondary p-5">
      <h4 class="label">Workflow B</h4>
      <h2 class="text-2xl font-light text-dark-gray mb-2">Create a Query</h2>
      <p class="font-light text-sm leading-relaxed mb-3">Queries are bulk searches and analytical workflows built on top of one or more lists. They can be easily re-run when new data is available.</p>
      <a href="[[ url_for('route_create_query') ]]" class="btn btn-sm btn-gray">Launch Workflow &rarr;</a>
    </div>
    <div class="bg-white border border-secondary p-5">
      <h4 class="label">Workflow C</h4>
      <h2 class="text-2xl font-light text-dark-gray mb-2">Create a Visualization</h2>
      <p class="font-light text-sm leading-relaxed mb-3">Visualizations are interactive graphics that showcase query results. They can be embedded in web pages or notebooks with just a few lines of code.</p>
      <a href="[[ url_for('route_create_visualization') ]]" class="btn btn-sm btn-gray">Launch Workflow &rarr;</a>
    </div>
    <div class="bg-white border border-secondary p-5">
      <h4 class="label">Workflow D</h4>
      <h2 class="text-2xl font-light text-dark-gray mb-2">Create an Alert</h2>
      <p class="font-light text-sm leading-relaxed mb-3">Alerts are email notifications that let you know when new query results are available. They can also be triggered when specific results are found.</p>
      <a href="[[ url_for('route_create_alert') ]]" class="btn btn-sm btn-gray">Launch Workflow &rarr;</a>
    </div>
  </div>
  <p class="text-xs pt-5 lg:text-center">[[copyright()]]</p>
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/modules/home.js') ]]"></script>

{% endblock %}
