{% extends "index.html" %}
{% block app %}

<div id="main" class="bg-light p-2 d-flex justify-content-center">
  <div class="container my-auto px-0">
    <div class="row no-gutters">
      <div class="col-12 col-lg-6 mb-2 pr-lg-1">
        <div class="bg-white border p-2">
          <h5>Graph</h5>
          <p class="lead">Explore the Code for Democracy knowledge graph</p>
          <a href="[[ url_for('route_graph') ]]" class="btn btn-gray btn-xs px-2">Launch Tool &rarr;</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-2 pl-lg-1">
        <div class="bg-white border p-2">
          <h5>Traverse</h5>
          <p class="lead">Explore relationships between political entities</p>
          <a href="[[ url_for('route_traverse') ]]" class="btn btn-gray btn-xs px-2">Launch Tool &rarr;</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-2 pr-lg-1">
        <div class="bg-white border p-2">
          <h5>Browse</h5>
          <p class="lead">Explore articles, tweets from candidates, or political ads</p>
          <a href="[[ url_for('route_browse') ]]" class="btn btn-gray btn-xs px-2">Launch Tool &rarr;</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-0 pl-lg-1">
        <div class="bg-white border p-2">
          <h5>Inspect</h5>
          <p class="lead">Explore raw data from Code for Democracy's analytics engine</p>
          <a href="[[ url_for('route_inspect') ]]" class="btn btn-gray btn-xs px-2">Launch Tool &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
