<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}Tools | Code for Democracy</title>
    <link rel="stylesheet" href="//assets.codefordemocracy.org/css/cfd.css" />
    <link rel="stylesheet" href="[[ url_for('static', filename='css/vue-multiselect.css') ]]" />
    <link rel="stylesheet" href="[[ url_for('static', filename='css/app.css') ]]" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="icon" type="image/png" href="//assets.codefordemocracy.org/img/favicon.png" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142391396-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-142391396-2');
    </script>

</head>

<body>

    {% macro copyright() %} © [[now.year]] <a href="https://codefordemocracy.org" class="text-gray" target="_blank"><u>Code for Democracy</u></a>. A 501(c)(3) nonprofit. EIN 83-3407325. Your use of this site is subject to our <a href="https://codefordemocracy.org/legal/#privacy" class="text-gray" target="_blank"><u>Privacy Policy</u></a> and <a href="https://codefordemocracy.org/legal/#terms" class="text-gray" target="_blank"><u>Terms of Service</u></a>. {% endmacro %}

    {% block html %}{% endblock %}

    <!-- modals -->
    <div id="waitlist" v-cloak>
      <modal :show="store.state.waitlist.modal" @cancel="store.commit('waitlist/modal', false)">
        <div slot="header">
          <h5 class="modal-title text-dark">Join Waitlist</h5>
          <p class="modal-subtitle">This feature isn't quite ready yet! Enter your email to get notified when it launches.</p>
        </div>
        <div slot="body">
          <form class="form-full form-sm" @submit.prevent="subscribe()">
            <input type="text" v-model="form.b_b4403b081b3c5fd183e8f1f60_0a70f9292d" tabindex="-1" style="position: absolute; left: -5000px;" aria-hidden="true" />
            <div class="form-group">
              <label class="label">Email</label>
              <input class="form-element" v-model="form.EMAIL" type="email" v-on:keyup="error=false; success=false" v-on:keyup.enter="subscribe()" placeholder="you@example.com" />
            </div>
            <p class="form-text-bottom text-error" v-if="error">An error has occurred.</p>
            <p class="form-text-bottom text-info" v-if="success">You're all set!</p>
          </form>
        </div>
        <div slot="footer" class="flex justify-end">
          <button class="btn btn-sm btn-secondary mr-1" @click="store.commit('waitlist/modal', false)">Cancel</button>
          <button @click="subscribe()" class="btn btn-sm btn-primary" :disabled="_.isEmpty(form.EMAIL)">Join Waitlist</button>
        </div>
      </modal>
    </div>
    <div id="login" v-cloak>
      <modal :show="store.state.auth.login" @cancel="close()" :iframe="true">
        <iframe slot="body" :src="store.state.auth.login ? ACCOUNTURL + '/?embed=true' : ''" width="100%" :height="window.innerHeight * 0.7" frameborder="0"></iframe>
      </modal>
    </div>
    <div id="logout" v-cloak>
      <modal :show="store.state.auth.logout" @cancel="close()" :iframe="true">
        <iframe slot="body" :src="store.state.auth.logout ? ACCOUNTURL + '/logout/?embed=true' : ''" width="100%" :height="window.innerHeight * 0.7" frameborder="0"></iframe>
      </modal>
    </div>
    <div id="verify" v-cloak>
      <modal :show="store.state.auth.verify" @cancel="close()">
        <div slot="header">
          <h5 class="modal-title">Verify Email</h5>
          <p class="modal-subtitle">Before you can download data or create public objects, you must verify your email.</p>
        </div>
        <div slot="body">
          <p class="text-xs mb-3">Please <a :href="ACCOUNTURL + '/portal/'" target="_blank">go to your account portal</a> and verify your email address.</p>
          <p class="text-xs">Once your email address has been verified, you will be able to download data from our platform and create lists and queries for public consumption.</p>
        </div>
        <div slot="footer" class="flex justify-end">
          <button @click="close()" class="btn btn-sm btn-secondary">Close</button>
        </div>
      </modal>
    </div>
    <!-- / modals -->

    <script src="//cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="//cdn.jsdelivr.net/npm/vuex@3.6.0"></script>
    <script src="//unpkg.com/vue-router@3.5.1"></script>
    <script src="//unpkg.com/vuejs-datepicker@1.6.2"></script>
    <script src="//unpkg.com/vue-multiselect@2.1.0"></script>
    <script src="//unpkg.com/axios@0.21.1"></script>
    <script src="//unpkg.com/@popperjs/core@2.9.1"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="//cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
    <script src="//cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="//assets.codefordemocracy.org/js/components/toggle.js"></script>
    <script src="//assets.codefordemocracy.org/js/components/typeahead.js"></script>
    <script src="//assets.codefordemocracy.org/js/components/modal.js"></script>
    <script src="//assets.codefordemocracy.org/js/components/datatable.js"></script>
    <script src="//assets.codefordemocracy.org/js/components/plot.js"></script>
    <script src="//assets.codefordemocracy.org/js/components/dropdown.js"></script>
    <script src="//assets.codefordemocracy.org/js/components/tabbed.js"></script>
    <script src="//assets.codefordemocracy.org/js/components/fliptext.js"></script>

    <script src="[[ url_for('static', filename='js/config.js') ]]"></script>
    <script src="[[ url_for('static', filename='js/functions.js') ]]"></script>
    <script src="[[ url_for('static', filename='js/components.js') ]]"></script>
    <script src="[[ url_for('static', filename='js/filters.js') ]]"></script>
    <script src="[[ url_for('static', filename='js/store.js') ]]"></script>
    <script src="[[ url_for('static', filename='js/router.js') ]]"></script>

    {% block scripts %}{% endblock %}

    <script src="[[ url_for('static', filename='js/app.js') ]]"></script>

</body>

</html>
