{% extends "index.html" %}
{% block title %}Inspect | {% endblock %}

{% block app %}

<div id="sidebar-icons" class="bg-white" v-show="store.state.embed == false" v-cloak>
  <div id="navicons" class="bg-light d-flex">
    <div class="navicon-tab d-flex justify-content-center align-items-center" :class="store.state.tab == 'query' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'query'); store.commit('error', false);"><i id="nav-query" class="icon-database fs-18"></i></span>
    </div>
    <div class="navicon-tab d-flex justify-content-center align-items-center" :class="store.state.tab == 'table' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'table'); store.commit('error', false);"><i id="nav-table" class="icon-table fs-18"></i></span>
    </div>
    <div class="navicon-tab d-flex justify-content-center align-items-center" :class="store.state.tab == 'chart' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'chart'); store.commit('error', false);"><i id="nav-chart" class="icon-bar-chart fs-18"></i></span>
    </div>
    <div class="navicon-tab d-flex justify-content-center align-items-center" :class="store.state.tab == 'map' ? 'active' : ''">
      <span class="p-1 pointer" @click="store.commit('tab', 'map'); store.commit('error', false);"><i id="nav-map" class="icon-globe fs-20"></i></span>
    </div>
    <div class="navicon-spacer flex-grow-1"></div>
  </div>
  <div id="settings" class="p-2 d-flex flex-column">
    <template v-if="store.state.tab == 'query'">
      {% include "/inspect/settings/query.html" %}
    </template>
    <template v-if="store.state.tab == 'table'">
      {% include "/inspect/settings/table.html" %}
    </template>
    <template v-if="store.state.tab == 'chart'">
      {% include "/inspect/settings/chart.html" %}
    </template>
    <template v-if="store.state.tab == 'map'">
      {% include "/inspect/settings/map.html" %}
    </template>
    <p class="mt-auto pt-5 mb-0">Your use of this site is subject to our <a href="https://codefordemocracy.org/legal/#privacy" class="text-gray" target="_blank"><u>Privacy Policy</u></a> and <a href="https://codefordemocracy.org/legal/#terms" class="text-gray" target="_blank"><u>Terms of Service</u></a>.</p>
  </div>
</div>
<div id="main-sidebar-icons" :class="{'embed': store.state.embed, 'p-2': !store.state.embed, 'bg-light': !store.state.embed}" v-cloak>
  <div id="plot" class="bg-white" :class="{'border': store.state.embed == false, 'h-100': _.isNil(store.state.results) || (store.state.tab != 'query' && _.isEmpty(store.state.output[store.state.tab]))}">
    <template v-if="store.state.tab == 'query'">
      {% include "/inspect/elements/query.html" %}
    </template>
    <template v-if="store.state.tab == 'table'">
      {% include "/inspect/elements/table.html" %}
    </template>
    <template v-if="store.state.tab == 'chart'">
      {% include "/inspect/elements/chart.html" %}
    </template>
    <template v-if="store.state.tab == 'map'">
      {% include "/inspect/elements/map.html" %}
    </template>
  </div>
  <div id="sharebar" class="mt-2 p-1 border bg-white" v-if="store.state.embed == false && store.state.tab != 'query' && !_.isEmpty(store.state.output[store.state.tab])">
    <div class="d-flex justify-content-between align-items-center">
      <div class="sharebar-text">{{store.getters.sharelink}}</div>
      <div><button class="btn btn-xs btn-light ml-1" @click="copy(store.getters.sharelink, 'shareclick')">{{shareclick ? 'Copied!': 'Copy Share Link'}}</button></div>
    </div>
    <hr class="my-1">
    <div class="d-flex justify-content-between align-items-center">
      <div class="sharebar-text">{{store.getters.embedcode}}</div>
      <div><button class="btn btn-xs btn-light ml-1" @click="copy(store.getters.embedcode, 'embedclick')">{{embedclick ? 'Copied!': 'Copy Embed Code'}}</button></div>
    </div>
  </div>
</div>
<div id="router"></div>
<div id="loading" v-if="store.state.loading && !store.state.loaded" class="d-flex justify-content-center align-items-center text-uppercase font-weight-light" v-cloak>Loading<span class="blink">...</span></div>
{% include "/inspect/partials/modals.html" %}

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/inspect/options.js') ]]"></script>
<script src="[[ url_for('static', filename='js/inspect.js') ]]"></script>

{% endblock %}
