{% extends "index.html" %}
{% block title %}Traverse | {% endblock %}

{% block app %}

<div id="main" class="bg-light p-2" :class="_.isEmpty(store.state.branches) ? 'd-flex flex-column justify-content-center' : ''" v-cloak>
  <div class="bg-white p-3 border" id="intro" v-if="_.isEmpty(store.state.branches)">
    <div class="mb-4">
      <a href="https://codefordemocracy.org" target="_blank"><img src="//assets.codefordemocracy.org/img/logo-tiny.png" id="logo" /></a>
    </div>
    <h1 id="page-title" class="mb-2">Traverse<sup>(ALPHA)</sup></h1>
    <p class="lead">Use this tool to explore relationships between political entities. Choose a starting point to begin:</p>
    <form class="form-inline mt-3 mx-ntiny" @submit.prevent="search()">
      <div class="form-group flex-grow-1 flex-sm-grow-0 mx-tiny">
        <select v-model="entity" class="form-control form-control-xs select w-100 pr-3" :disabled="!_.isEmpty(store.state.branches)">
          <option v-for="entity in store.state.search" :value="entity">{{_.startCase(entity)}}</option>
        </select>
      </div>
      <div class="flex-grow-1 d-flex">
        <div class="form-group flex-grow-1 mx-tiny">
          <typeahead class="text-left w-100" input="form-control form-control-xs w-100" v-model="term" :items="PLACEHOLDERS[entity]" :disabled="!_.isEmpty(store.state.branches)"></typeahead>
        </div>
        <div class="form-group mx-tiny">
          <input type="submit" class="btn btn-xs btn-gray w-100" value="Search" :disabled="_.isEmpty(term) || !_.isEmpty(store.state.branches)" />
        </div>
      </div>
      <p class="mt-2 mb-0 text-muted">Tip: You can combine multiple search terms by entering <code class="mb-0">term1 OR term2</code>.<span v-if="entity=='donor'"> You can also filter on <code class="mb-0">EMPLOYER:term</code> or <code class="mb-0">OCCUPATION:term</code>.</span></p>
    </form>
  </div>
  <div v-else>
    <branch :id="branch.id" :settings="branch.settings" :branches="branch.branches" @destroy="clear" v-for="branch in store.state.branches"></branch>
  </div>
  <p class="pt-3 mb-0 px-sm-3 text-sm-center">[[copyright()]]</p>
  <div id="router"></div>
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/traverse/modules/matches.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/modules/actions.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/structure/branch.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/structure/block.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/overview.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/associations-results-candidate-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/associations-results-committee-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/associations-results.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/associations-details.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/intersection-settings.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/intersection-results-candidate-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/intersection-results-committee-committee.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/intersection-results.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/intersection-details.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse/blocks/contribution.js') ]]"></script>
<script src="[[ url_for('static', filename='js/traverse.js') ]]"></script>

{% endblock %}
