{% extends "app.html.j2" %} {% block title %}[[workflow]] | {% endblock %} {% block app %}

<div id="sidebar" v-cloak>
  <div id="sidebar-tabs" class="bg-light flex">
    {% for template in templates %}
      <a class="sidebar-tab flex justify-center items-center text-xs" :class="store.state.workflow.tab == [[template.step]] ? 'active' : ''" href="javascript:void(0);" @click="store.commit('workflow/tab', [[template.step]]);">
        <span class="w-full h-full text-center">[[template.step]]</span>
      </a>
    {% endfor %}
    <div class="sidebar-spacer flex-grow"></div>
  </div>
  <div id="sidebar-settings" class="p-5 flex flex-col">
    <div class="tracking-wider uppercase text-xs text-muted mb-2">[[workflow]] &mdash; Step {{store.state.workflow.tab}}</div>
    {% for template in templates %}
    <template v-if="store.state.workflow.tab == [[template.step]]">
      {% include "/workflow/" + output + "/sidebar/" + template.slug + ".html.j2" %}
    </template>
    {% endfor %}
    <div class="alert alert-info mt-5" v-if="!_.includes(store.state.workflow.valid, store.state.workflow.tab-1)"><strong>NOTE:</strong> This step will remain disabled until you complete the previous steps.</div>
  </div>
</div>
<div id="content" class="bg-light p-5 flex flex-col justify-between text-dark" v-cloak>
  <div class="screen" v-if="!_.includes(store.state.workflow.valid, store.state.workflow.tab-1)"></div>
  <div class="mb-2">
    <template v-if="_.includes(store.state.workflow.valid, store.state.workflow.tab-1)">
      {% if action == "edit" and id != None %}
        <div class="alert alert-warning mb-5"><strong>WARNING:</strong> You are editing the [[output]] with ID <u>[[id]]</u>.</div>
      {% endif %}
      {% if action == "clone" and id != None %}
        <div class="alert alert-info mb-5"><strong>NOTE:</strong> Your [[output]] has been pre-populated with settings cloned from the [[output]] with ID <a class="underline" :href="'/view/[[output]]/?id=[[id]]&mode=popup'" v-on:click.prevent="POPUP(event.currentTarget.href, 'popup-view-list-' + _.uniqueId(), 0.7, window)">[[id]]</a>.</div>
      {% endif %}
    </template>
    {% for template in templates %}
    <template v-if="store.state.workflow.tab == [[template.step]]">
      {% include "/workflow/" + output + "/content/" + template.slug + ".html.j2" %}
    </template>
    {% endfor %}
    <div class="mt-5 flex justify-between">
      <button class="btn btn-sm btn-secondary" :class="store.state.workflow.tab > 1 && _.includes(store.state.workflow.valid, store.state.workflow.tab-1) ? 'visible' : 'invisible'" @click="store.state.workflow.tab--">&larr; Return to Previous Step</button>
      <button class="btn btn-sm btn-gray" :class="_.includes(store.state.workflow.valid, store.state.workflow.tab) ? 'visible' : 'invisible'" @click="store.state.workflow.tab++">Go to Next Step &rarr;</button>
      <template v-if="store.state.workflow.complete && store.state.workflow.tab == [[templates|length]]">
        <button class="btn btn-sm btn-purple" @click="store.commit('auth/login', true)" v-if="store.state.auth.profile && _.isEmpty(store.state.auth.profile)">Log In to Continue</button>
        <button class="btn btn-sm btn-primary" :disabled="store.state.workflow.processing || store.state.workflow.success" @click="submit()" v-else>{{store.state.workflow.processing ? 'Processing...' : '[[action.capitalize() + ' ' + output.capitalize()]]'}}</button>
      </template>
    </div>
    <p class="text-info mt-3 text-xs float-right" v-if="store.state.workflow.success">Success! [[output.capitalize()]] saved.</p>
    <p class="text-error mt-3 text-xs float-right" v-if="store.state.workflow.error">An error has occurred.</p>
  </div>
  <p class="text-xs pt-5">[[copyright()]]</p>
</div>

{% endblock %}
{% block scripts %}

  {% if output == 'list' %}
  {% endif %}

  {% if output == 'query' %}
  <script src="[[ url_for('static', filename='js/blocks/recipe/configurable.js') ]]"></script>
  <script src="[[ url_for('static', filename='js/blocks/recipe/configuration.js') ]]"></script>
  <script src="[[ url_for('static', filename='js/blocks/list/listdisplayer.js') ]]"></script>
  <script src="[[ url_for('static', filename='js/blocks/list/listsearcher.js') ]]"></script>
  <script src="[[ url_for('static', filename='js/blocks/result/querytable.js') ]]"></script>
  <script src="[[ url_for('static', filename='js/blocks/result/queryhist.js') ]]"></script>
  {% endif %}

  {% if output == 'alert' %}
  {% endif %}

  {% if output == 'visualization' %}
  {% endif %}

<script src="[[ url_for('static', filename='js/modules/workflow.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/workflow/' + output + '/app.js') ]]"></script>

{% endblock %}
