<div id="viewkey" v-cloak>
    <modal :show="store.state.explore.viewkey" @cancel="cancel()">
        <div slot="header">
            <h5 class="modal-title">Key</h5>
            <p class="modal-subtitle">Nodes are color-coded depending on their type. Each type of node has a different label in the data schema. The colors are as follows:</p>
        </div>
        <div slot="body">
            <div class="form-group">
                <label class="label">Labels</label>
                <div class="grid grid-cols-3 gap-1.5 text-xs text-center text-white">
                    <div class="grid grid cols-1 gap-1.5">
                      <div class="rounded-full px-3 py-1" style="background-color: #005bae;">Candidate</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #282252;">Committee</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #5C268E;">Donor</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #eb5581;">Employer</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #D0021B;">Job</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #f37b3c;">Contribution</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #e9c464;">Expenditure</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #357045;">Payee</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #54B59F;">Party</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #78CADB;">Race</div>
                    </div>
                    <div class="grid grid cols-1 gap-1.5">
                      <div class="rounded-full px-3 py-1" style="background-color: #4b5b82;">Tweeter</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #2a2831;">Tweet</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #55356e;">Hashtag</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #c57385;">Annotation</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #b43f34;">Link</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #d78a64;">Domain</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #dbc699;">Source</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #5b675d;">Ad</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #97a8a3;">Message</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #bebebe;">Buyer</div>
                    </div>
                    <div class="grid grid cols-1 gap-1.5">
                      <div class="rounded-full px-3 py-1" style="background-color: #002167;">Page</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #000019;">Bill</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #16004a;">Vote</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #990040;">Jurisdiction</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #7b0000;">Member</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #9f3500;">Zip</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #9a7d1d;">State</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #002f09;">Year</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #006e5b;">Month</div>
                      <div class="rounded-full px-3 py-1" style="background-color: #278292;">Day</div>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer" class="flex justify-end">
            <button type="button" @click="cancel()" class="btn btn-sm btn-secondary">Close</button>
        </div>
    </modal>
</div>
<div id="runphysics" v-cloak>
    <modal :show="store.state.explore.runphysics" @cancel="cancel()">
        <div slot="header">
            <h5 class="modal-title">Run Physics</h5>
            <p class="modal-subtitle">Clean up the display of the graph by selecting a layout.</p>
        </div>
        <div slot="body" class="form-sm form-full">
            <div class="form-group">
                <label class="label">Layout</label>
                <select class="form-element" v-model="layout">
                    <option value="cose">CoSE</option>
                    <option value="circle">Circle</option>
                    <option value="concentric">Concentric</option>
                    <option value="grid">Grid</option>
                    <option value="breadthfirst">Breadth First</option>
                </select>
            </div>
        </div>
        <div slot="footer" class="flex justify-end">
            <button type="button" @click="cancel()" class="btn btn-sm btn-secondary mr-1">Cancel</button>
            <button type="button" @click="submit()" class="btn btn-sm btn-gray">Run Physics</button>
        </div>
    </modal>
</div>
<div id="uncovercontributors" v-cloak>
    <modal :show="store.state.explore.uncovercontributors" @cancel="cancel()">
        <div slot="header">
            <h5 class="modal-title">Uncover Contributors</h5>
            <p class="modal-subtitle">Expand the network to include contributors for the selected {{store.state.explore.selected.length == 1 ? 'node' : 'nodes'}} that meet the configured criteria.</p>
        </div>
        <div slot="body" class="form-sm form-full">
            <div class="form-group">
              <div class="flex justify-between items-start">
                  <label class="label">Labels</label>
                  <div class="text-xs text-primary">
                      <a href="javascript:void(0);" @click="all(true)" class="mr-3">Select All</a>
                      <a href="javascript:void(0);" @click="all(false)">Unselect All</a>
                  </div>
              </div>
                <toggle class="mb-1" :sync="true" v-model="labels.donor"><span slot="text">Donor</span></toggle>
                <toggle class="mb-1" :sync="true" v-model="labels.committee"><span slot="text">Committee</span></toggle>
            </div>
            <div class="form-group">
                <label class="label">Minimum Transaction Amount</label>
                <input class="form-element" v-model="min_transaction_amt" type="number" min="1" max="999999999" />
            </div>
            <div v-if="store.state.explore.advanced == true" class="mt-2">
                <div class="form-group">
                  <label class="label">Min Date for Contributions</label>
                  <datepicker v-model="dates.min" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates" :typeable="true" :required="true"></datepicker>
                </div>
                <div class="form-group">
                  <label class="label">Max Date for Contributions</label>
                  <datepicker v-model="dates.max" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates" :typeable="true" :required="true"></datepicker>
                </div>
                <div class="form-group">
                    <label class="label">Limit</label>
                    <p class="form-text-top">Number of results returned per expansion.</p>
                    <input class="form-element" v-model="pagination.limit" type="number" min="0" max="300" />
                </div>
                <div class="form-group">
                    <label class="label">Page</label>
                    <p class="form-text-top">By default, only the first page of results is returned for each expansion. Increment this number to get additional results.</p>
                    <input class="form-element" v-model="pagination.page" type="number" min="1" max="99999" />
                </div>
            </div>
        </div>
        <div slot="footer" class="flex justify-between items-center">
          <div class="text-primary text-xs">
              <a href="javascript:void(0);" v-if="store.state.explore.advanced == false" @click="store.commit('explore/advanced', true)">Advanced +</a>
              <a href="javascript:void(0);" v-if="store.state.explore.advanced == true" @click="store.commit('explore/advanced', false)">Advanced &ndash;</a>
          </div>
          <div>
              <button type="button" @click="cancel()" class="btn btn-sm btn-secondary mr-1">Cancel</button>
              <button type="button" @click="submit()" class="btn btn-sm btn-gray" :disabled="_.isNull(dates.min) || _.isNull(dates.max)">Uncover Contributors</button>
          </div>
        </div>
    </modal>
</div>
<div id="expandnode" v-cloak>
    <modal :show="store.state.explore.expandnode" @cancel="cancel()">
        <div slot="header">
            <h5 class="modal-title">Expand Selected {{store.state.explore.selected.length == 1 ? 'Node' : 'Nodes'}}</h5>
            <p class="modal-subtitle">Expanding the selected {{store.state.explore.selected.length == 1 ? 'node' : 'nodes'}} will add {{store.state.explore.selected.length == 1 ? 'its' : 'their'}} first-order connections to the graph. Choose which types of nodes are added using the settings below. Edges will be added automatically.</p>
        </div>
        <div slot="body" class="form-sm form-full">
            <div class="form-group">
              <div class="flex justify-between items-start">
                  <label class="label">Labels</label>
                  <div class="text-xs text-primary">
                      <a href="javascript:void(0);" @click="all(true)" class="mr-3">Select All</a>
                      <a href="javascript:void(0);" @click="all(false)">Unselect All</a>
                  </div>
              </div>
              <div class="grid grid-cols-2 gap-5">
                  <div>
                      <toggle class="mb-1" :sync="true" v-model="labels.candidate"><span slot="text">Candidate</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.committee"><span slot="text">Committee</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.donor"><span slot="text">Donor</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.employer"><span slot="text">Employer</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.job"><span slot="text">Job</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.contribution"><span slot="text">Contribution</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.expenditure"><span slot="text">Expenditure</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.payee"><span slot="text">Payee</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.party"><span slot="text">Party</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.race"><span slot="text">Race</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.tweeter"><span slot="text">Tweeter</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.tweet"><span slot="text">Tweet</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.hashtag"><span slot="text">Hashtag</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.annotation"><span slot="text">Annotation</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.link"><span slot="text">Link</span></toggle>
                  </div>
                  <div>
                      <toggle class="mb-1" :sync="true" v-model="labels.domain"><span slot="text">Domain</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.source"><span slot="text">Source</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.ad"><span slot="text">Ad</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.message"><span slot="text">Message</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.buyer"><span slot="text">Buyer</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.page"><span slot="text">Page</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.bill"><span slot="text">Bill</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.vote"><span slot="text">Vote</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.jurisdiction"><span slot="text">Jurisdiction</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.member"><span slot="text">Member</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.zip"><span slot="text">Zip</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.state"><span slot="text">State</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.year"><span slot="text">Year</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.month"><span slot="text">Month</span></toggle>
                      <toggle class="mb-1" :sync="true" v-model="labels.day"><span slot="text">Day</span></toggle>
                  </div>
              </div>
            </div>
            <div v-if="store.state.explore.advanced == true" class="mt-2">
                <div class="form-group">
                    <label class="label">Limit</label>
                    <p class="form-text-top">Number of results returned per expansion.</p>
                    <input class="form-element" v-model="pagination.limit" type="number" min="0" max="300" />
                </div>
                <div class="form-group">
                    <label class="label">Page</label>
                    <p class="form-text-top">By default, only the first page of results is returned for each expansion. Increment this number to get additional results.</p>
                    <input class="form-element" v-model="pagination.page" type="number" min="1" max="99999" />
                </div>
            </div>
        </div>
        <div slot="footer" class="flex justify-between items-center">
            <div class="text-primary text-xs">
                <a href="javascript:void(0);" v-if="store.state.explore.advanced == false" @click="store.commit('explore/advanced', true)">Advanced +</a>
                <a href="javascript:void(0);" v-if="store.state.explore.advanced == true" @click="store.commit('explore/advanced', false)">Advanced &ndash;</a>
            </div>
            <div>
                <button type="button" @click="cancel()" class="btn btn-sm btn-secondary mr-1">Cancel</button>
                <button type="button" @click="submit()" class="btn btn-sm btn-gray">Expand Selected {{store.state.explore.selected.length == 1 ? 'Node' : 'Nodes'}}</button>
            </div>
        </div>
    </modal>
</div>
<div id="smartselect" v-cloak>
    <modal :show="store.state.explore.smartselect" @cancel="cancel()">
        <div slot="header">
            <h5 class="modal-title">Smart Select</h5>
            <p class="modal-subtitle">Programmatically select nodes that you can then apply further action to.</p>
        </div>
        <div slot="body" class="form-sm form-full">
            <div class="form-group">
                <label class="label">Type of Filter</label>
                <select class="form-element" v-model="filter.type">
                    <option value="degree">Degree</option>
                    <option value="label">Label</option>
                </select>
            </div>
            <div class="form-group" v-if="filter.type == 'degree'">
                <label class="label">Degree Cutoff</label>
                <p class="form-text-top">Nodes with fewer than this number of edges will be selected.</p>
                <input class="form-element" v-model="filter.degree" type="number" min="1" />
            </div>
            <div class="form-group" v-if="filter.type == 'label'">

                <div class="flex justify-between items-start">
                    <label class="label">Choose Labels</label>
                    <div class="text-xs text-primary">
                        <a href="javascript:void(0);" @click="all(true)" class="mr-3">Select All</a>
                        <a href="javascript:void(0);" @click="all(false)">Unselect All</a>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-5">
                    <div>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.candidate"><span slot="text">Candidate</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.committee"><span slot="text">Committee</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.donor"><span slot="text">Donor</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.employer"><span slot="text">Employer</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.job"><span slot="text">Job</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.contribution"><span slot="text">Contribution</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.expenditure"><span slot="text">Expenditure</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.payee"><span slot="text">Payee</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.party"><span slot="text">Party</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.race"><span slot="text">Race</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.tweeter"><span slot="text">Tweeter</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.tweet"><span slot="text">Tweet</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.hashtag"><span slot="text">Hashtag</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.annotation"><span slot="text">Annotation</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.link"><span slot="text">Link</span></toggle>
                    </div>
                    <div>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.domain"><span slot="text">Domain</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.source"><span slot="text">Source</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.ad"><span slot="text">Ad</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.message"><span slot="text">Message</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.buyer"><span slot="text">Buyer</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.page"><span slot="text">Page</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.bill"><span slot="text">Bill</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.vote"><span slot="text">Vote</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.jurisdiction"><span slot="text">Jurisdiction</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.member"><span slot="text">Member</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.zip"><span slot="text">Zip</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.state"><span slot="text">State</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.year"><span slot="text">Year</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.month"><span slot="text">Month</span></toggle>
                        <toggle class="mb-1" :sync="true" :labels="{checked: 'Select', unchecked: 'Exclude'}" v-model="filter.labels.day"><span slot="text">Day</span></toggle>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer" class="flex justify-end">
            <button type="button" @click="cancel()" class="btn btn-sm btn-secondary mr-1">Cancel</button>
            <button type="button" @click="submit()" class="btn btn-sm btn-gray">Smart Select</button>
        </div>
    </modal>
</div>
