<div class="mb-10">
  <a href="https://codefordemocracy.org" target="_blank"><img src="//assets.codefordemocracy.org/img/logo-tiny.png" id="logo" /></a>
</div>
<div v-if="store.state.explore.step == 'intro'">
  <h1 id="page-title" class="text-2xl text-dark-gray mb-3">Graph<sup>(BETA)</sup></h1>
  <p class="font-light text-sm leading-relaxed mb-3">Explore relationships between political entities by building a graph</p>
  <p class="text-xs mb-12">Add nodes and edges, discover complex networks, and visually learn to navigate our graph-based data schema</p>
  <button @click="store.commit('explore/step', 'start')" type="button" class="btn btn-sm btn-gray px-5">Get Started &rarr;</button>
</div>
<div v-if="store.state.explore.step == 'start'">
  <h6 class="text-lg text-dark-gray mb-2" v-if="store.state.explore.elements.length == 0">Choose Starting Point</h6>
  <h6 class="text-lg text-dark-gray mb-2" v-else>Search</h6>
  <p class="text-xs mb-4" v-if="store.state.explore.elements.length == 0">To begin exploring the graph, choose one of the starting points below:</p>
  <p class="text-xs mb-4" v-else>Add more elements to your graph by using one of the search flows below:</p>
  <button v-for="flow in [ ['candidates', 'Candidates'], ['committees', 'Committees'], ['donors', 'Donors'], ['payees', 'Payees'], ['tweeters', 'Tweeters'], ['sources', 'Sources'], ['buyers', 'Buyers'], ['pages', 'Pages'] ]" @click="store.commit('explore/step', 'search'); store.commit('explore/flow', flow[0])" type="button" class="btn btn-sm w-full mb-2 btn-gray">{{flow[1]}}</button>
  <button @click="store.commit('explore/step', 'intro')" type="button" class="btn btn-sm btn-light mt-7">&larr; Back</button>
</div>
<div v-if="store.state.explore.step == 'search'">
  <form @submit.prevent="submit()" class="form-sm form-full">
    <div v-if="store.state.explore.flow == 'candidates'">
      {% include "/explore/relationships/graph/settings/candidates.html.j2" %}
    </div>
    <div v-if="store.state.explore.flow == 'committees'">
      {% include "/explore/relationships/graph/settings/committees.html.j2" %}
    </div>
    <div v-if="store.state.explore.flow == 'donors'">
      {% include "/explore/relationships/graph/settings/donors.html.j2" %}
    </div>
    <div v-if="store.state.explore.flow == 'payees'">
      {% include "/explore/relationships/graph/settings/payees.html.j2" %}
    </div>
    <div v-if="store.state.explore.flow == 'tweeters'">
      {% include "/explore/relationships/graph/settings/tweeters.html.j2" %}
    </div>
    <div v-if="store.state.explore.flow == 'sources'">
      {% include "/explore/relationships/graph/settings/sources.html.j2" %}
    </div>
    <div v-if="store.state.explore.flow == 'buyers'">
      {% include "/explore/relationships/graph/settings/buyers.html.j2" %}
    </div>
    <div v-if="store.state.explore.flow == 'pages'">
      {% include "/explore/relationships/graph/settings/pages.html.j2" %}
    </div>
    <input type="submit" class="btn btn-gray" value="Search" />
  </form>
  <div class="text-right text-primary text-xs mt-1">
    <a href="javascript:void(0);" v-if="store.state.explore.advanced == false" @click="store.commit('explore/advanced', true)">Advanced +</a>
    <a href="javascript:void(0);" v-if="store.state.explore.advanced == true" @click="store.commit('explore/advanced', false)">Advanced &ndash;</a>
  </div>
  <button @click="store.commit('explore/step', 'start')" type="button" class="btn btn-sm btn-light mt-7">&larr; Back</button>
</div>
<div v-if="store.state.explore.step == 'results' || store.state.explore.step == 'actions' || store.state.explore.step == 'manipulations'">
  <h6 class="text-lg text-dark-gray mb-2" v-if="store.state.explore.step == 'results'">Results</h6>
  <h6 class="text-lg text-dark-gray mb-2" v-if="store.state.explore.step == 'actions' || store.state.explore.step == 'manipulations'">{{_.startCase(_.camelCase(store.state.explore.flow))}}</h6>
  <template v-if="store.state.explore.step == 'manipulations'">
    <p class="text-xs mb-5" v-if="store.state.explore.flow == 'smart select'">You've selected <b>{{store.state.explore.selected.length}} {{ store.state.explore.selected.length != 1 ? 'elements' : 'element' }}</b>.</p>
    <p class="text-xs mb-5" v-if="store.state.explore.flow == 'delete elements' || store.state.explore.flow == 'undo last addition'">You've deleted <b>{{store.state.explore.diff.elementsToRemove.length}} {{ store.state.explore.diff.elementsToRemove.length != 1 ? 'elements' : 'element' }}</b>.</p>
    <p class="text-xs mb-5" v-if="store.state.explore.flow == 'undo last deletion'">You've added <b>{{store.state.explore.diff.elementsToAdd.length}} {{ store.state.explore.diff.elementsToAdd.length != 1 ? 'elements' : 'element' }}</b>.</p>
  </template>
  <template v-else>
    <p class="text-xs mb-5" v-if="store.state.explore.waiting == true">Hold tight, we're searching for results!</p>
    <template v-else>
      <p class="text-xs mb-5" v-if="store.state.explore.diff.idsToAdd.length == 0"><span v-if="store.state.explore.error == true">An error has occurred. </span>Unfortunately, there are no new results.</p>
      <div v-else>
        <p class="text-xs mb-3">You've added <strong>{{store.state.explore.diff.idsToAdd.length}} {{store.state.explore.diff.idsToAdd.length == 1 ? 'element' : 'elements'}}</strong> to your graph!</p>
        <p class="text-xs mb-5">Use the box on the right side of the screen in order to further explore your graph.</p>
      </div>
    </template>
  </template>
  <button @click="store.commit('explore/viewkey', 'start')" type="button" class="btn btn-sm w-full btn-secondary mb-2">View Key</button>
  <button @click="store.commit('explore/step', 'start')" type="button" class="btn btn-sm w-full btn-gray">Search for More Nodes</button>
  <button v-if="store.state.explore.step == 'results'" @click="store.commit('explore/step', 'search')" type="button" class="btn btn-sm btn-light mt-9">&larr; Back</button>
</div>
