{% extends "index.html.j2" %}
{% block title %}View List | {% endblock %}

{% block html %}

<div id="main" class="bg-light p-5 flex flex-col min-h-screen" v-cloak>
  <div class="bg-white border border-secondary p-5" v-if="!_.isEmpty(list)">
    <h3 class="text-xl font-light text-dark-gray">{{list.name}}</h3>
    <p class="font-light text-sm text-muted mb-3">{{list.id}}</p>
    <a :href="'/create/list/?action=clone&id=' + list.id" class="btn btn-sm btn-gray mb-7" target="_blank">Clone List</a>
    <div class="bg-xlight text-dark text-xs p-3">
      <listdisplayer :list="list" :hide="['visibility', 'name', 'id']" :ratio="ratio"></listdisplayer>
    </div>
  </div>
  {% if mode != "popup" %}
    <p class="text-xs pt-5 mt-auto">[[copyright()]]</p>
  {% endif %}
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/blocks/list/listdisplayer.js') ]]"></script>
<script src="[[ url_for('static', filename='js/modules/workflow/list/popup/view.js') ]]"></script>

{% endblock %}
