{% extends "index.html.j2" %}
{% block title %}Explore Documents | {% endblock %}

{% block html %}

<div id="main" class="bg-light p-5 min-h-screen" :class="!store.state.explore.first ? 'flex flex-col justify-center' : ''" v-cloak>
  <div class="bg-white border border-secondary" :class="!store.state.explore.first ? 'p-7 max-w-lg m-auto' : 'p-5'">
    <template v-if="!store.state.explore.first">
      <div class="mb-8">
        <a href="https://codefordemocracy.org" target="_blank"><img src="//assets.codefordemocracy.org/img/logo-tiny.png" id="logo" /></a>
      </div>
      <h1 id="page-title" class="text-2xl text-dark-gray mb-2">Explore Documents<sup>(BETA)</sup></h1>
      <p class="font-light text-sm leading-relaxed mb-5">Explore news articles, tweets from candidates, or digital political ads over a custom time range:</p>
    </template>
    <form @submit.prevent="search(0)" class="form-full form-sm" :class="store.state.explore.first ? 'grid md:grid-cols-2 lg:grid-cols-12 md:gap-x-5' : ''">
      <div class="form-group" :class="store.state.explore.first ? 'md:col-span-2 lg:col-span-2' : ''">
        <label class="label">Document Type</label>
        <select v-model="documents" class="form-element">
          <option value="articles">Articles</option>
          <option value="tweets">Tweets</option>
          <option value="ads">Ads</option>
        </select>
      </div>
      <div class="form-group" :class="store.state.explore.first ? 'md:col-span-2 lg:col-span-4' : ''" v-if="documents == 'articles'">
        <label class="label">Type of Source</label>
        <select v-model="group" class="form-element">
          <option value="questionable">Factually Questionable Sources</option>
          <option value="conspiracy">Conspiracy Sources</option>
          <option value="hate">Hate Group Sources</option>
          <option value="propaganda">Propaganda Sources</option>
          <option value="satire">Satire Sources</option>
          <option value="liberal">Liberal Sources</option>
          <option value="left">Left Leaning Sources</option>
          <option value="moderate">Moderate Sources</option>
          <option value="right">Right Leaning Sources</option>
          <option value="conservative">Conservative Sources</option>
        </select>
      </div>
      <div class="form-group" :class="store.state.explore.first ? 'md:col-span-2 lg:col-span-4' : ''" v-if="documents == 'tweets'">
        <label class="label">Party of Candidate Tweeting</label>
        <select v-model="group" class="form-element">
          <option value="dem">Democrat</option>
          <option value="rep">Republican</option>
        </select>
      </div>
      <div class="form-group" :class="store.state.explore.first ? 'md:col-span-2 lg:col-span-4' : ''" v-if="documents == 'ads'">
        <label class="label">Ad Format</label>
        <select v-model="group" class="form-element">
          <option value="facebook">Facebook</option>
        </select>
      </div>
      <div class="form-group" :class="store.state.explore.first ? 'lg:col-span-3' : ''">
        <label class="label">Min Publication Date</label>
        <datepicker v-model="dates.min" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates" :typeable="true" :required="true" :use-utc="true"></datepicker>
      </div>
      <div class="form-group" :class="store.state.explore.first ? 'lg:col-span-3' : ''">
        <label class="label">Max Publication Date</label>
        <datepicker v-model="dates.max" calendar-class="datepicker" format="yyyy-MM-dd" input-class="form-element" :disabled-dates="disabledDates" :typeable="true" :required="true" :use-utc="true"></datepicker>
      </div>
      <div class="form-group" :class="store.state.explore.first ? 'md:col-span-2 lg:col-span-10 lg:mb-0' : ''">
        <label class="label">Search Term</label>
        <typeahead ul="text-xs" input="form-element" v-model="term" :items="PLACEHOLDERS.topic"></typeahead>
      </div>
      <div :class="store.state.explore.first ? 'md:col-span-2 lg:pt-6' : ''">
        <input type="submit" class="btn btn-gray mb-0" :value="button" :disabled="store.state.explore.loading || _.isNull(dates.min) || _.isNull(dates.max)" />
      </div>
    </form>
    <template v-if="!store.state.explore.first && store.state.explore.loaded">
      <p class="form-text-bottom text-info" v-if="_.isEmpty(store.state.explore.results) && !store.state.explore.error">No {{documents}} found.</p>
      <p class="form-text-bottom text-error" v-if="store.state.explore.error">An error has occurred. Please try again.</p>
    </template>
  </div>
  <template v-if="store.state.explore.first">
    <div class="bg-white border border-secondary mt-5" v-if="!_.isEmpty(store.state.explore.histogram)">
      <plot :id="_.uniqueId('histogram')" :settings="plot"></plot>
    </div>
    <template v-if="store.state.explore.loaded">
      <div class="bg-white border border-secondary mt-5 relative" v-for="result in store.state.explore.results">
        <a class="btn btn-sm btn-light absolute top-0 right-0 z-10 rounded-none" :href="ROOTURL + '/traverse/?entity=tweeter&term=@'+result.username" target="_blank" v-if="store.state.explore.search.documents == 'tweets'">View in Traverse Tool</a>
        <a class="btn btn-sm btn-light absolute top-0 right-0 z-10 rounded-none" :href="'https://facebook.com/ads/library/?id=' + result.id" target="_blank" v-if="store.state.explore.search.documents == 'ads' && store.state.explore.search.group == 'facebook'">View in Facebook Ads Library</a>
        <pre class="text-xs text-dark overflow-x-auto p-5">{{result | prettify}}</pre>
      </div>
      <div class="bg-white p-5 border border-secondary mt-5" v-if="_.isEmpty(store.state.explore.results) && !store.state.explore.error">
        <div class="bg-xlight p-3 text-xs">No {{documents}} found.</div>
      </div>
      <div class="flex justify-between items-center mt-5" v-if="!_.isEmpty(store.state.explore.results) || store.state.explore.page > 0">
        <button class="btn btn-sm btn-gray" :class="button" @click="search(store.state.explore.page-1)" :disabled="store.state.explore.page == 0">&larr; Previous Results</button>
        <button class="btn btn-sm btn-gray" :class="button" @click="search(store.state.explore.page+1)" :disabled="_.isEmpty(store.state.explore.results)">More Results &rarr;</button>
      </div>
      <div class="bg-white p-5 border border-secondary mt-5" v-if="store.state.explore.error">
        <div class="bg-xlight p-3 text-xs">An error has occurred. Please try again.</div>
      </div>
    </template>
  </template>
  {% if mode != "popup" %}
    <p class="text-xs pt-5" :class="store.state.first ? 'mt-auto' : 'sm:text-center'">[[copyright()]]</p>
  {% endif %}
</div>

{% endblock %}
{% block scripts %}

<script src="[[ url_for('static', filename='js/modules/explore/documents/app.js') ]]"></script>

{% endblock %}
