<div id="splash" v-cloak>
  <modal :show="store.state.splash && !store.state.loading" @cancel="cancel()">
    <div slot="header">
      <a href="https://codefordemocracy.org" target="_blank"><img src="//assets.codefordemocracy.org/img/logo-tiny.png" id="logo" /></a>
    </div>
    <div slot="body">
      <h1 id="page-title">Inspect<sup>(ALPHA)</sup></h1>
      <p class="font-light text-sm leading-relaxed">Use this tool to explore raw data from Code for Democracy's analytics engine. You can grab JSON and find patterns by creating shareable tables, charts, and maps.</p>
    </div>
    <div slot="footer">
      <button class="btn btn-sm btn-secondary" @click="cancel()">Continue</button>
    </div>
  </modal>
</div>
